<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='{{resourceContext}}css/bootstrap.min.css'>
    <link rel='stylesheet' href='{{resourceContext}}css/widget.css'>

    <link rel='stylesheet' href='../theme/theme.css'>

    {{#each previableassets}}
        {{#ifequal type value='CSS'}}
            <link rel="stylesheet" href="{{#assetsrc}}{{/assetsrc}}">
        {{/ifequal}}
    {{/each}}

    <script src="{{resourceContext}}js/vendor.min.js"></script>
    <script src="{{resourceContext}}js/runtime.min.js"></script>
    <!-- assets attached to the page -->
    {{#each previableassets}}
        {{#ifequal type value='JAVASCRIPT'}}
            <script src="{{#assetsrc}}{{/assetsrc}}"></script>
        {{/ifequal}}
    {{/each}}

    {{#if modules}}
        <script>
            angular.module('bonitasoft.ui').requires.push({{{join modules "', '" prefix="'" suffix="'"}}});
        </script>
    {{/if}}

    <!-- widget need to be injected at runtime -->
    {{#each directives}}
        <script src="{{ this }}"></script>
    {{/each}}

</head>
<body ng-app="bonitasoft.ui" pb-model='{{ id }}'>
<div class="container-fluid">
    {{{rowsHtml}}}
    {{#each factories}}
        <script>{{{ this }}}</script>
    {{/each}}
</div>
</body>
</html>
