<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='{{resourceContext}}css/bootstrap.min.css'>
    <link rel='stylesheet' href='../theme/theme.css'>

    {{#each cssAsset}}
            <link rel="stylesheet" href="{{ this }}">
    {{/each}}

    <script src="{{resourceContext}}js/vendor.min.js"></script>
    <script src="{{resourceContext}}js/runtime.min.js"></script>
    <!-- assets attached to the page -->
    {{#each jsAsset}}
            <script src="{{ this }}"></script>
    {{/each}}

    {{#if modules}}
        <script>
            angular.module('bonitasoft.ui').requires.push({{{join modules "', '" prefix="'" suffix="'"}}});
        </script>
    {{/if}}

    <!-- widgets directives minified -->
    {{#each directives}}
        <script src="{{ this }}"></script>
    {{/each}}

</head>
<body ng-app="bonitasoft.ui" pb-model='{{ id }}'>
<div class="container-fluid">
    {{{rowsHtml}}}
    {{#each factories}}
        <script>{{{ this }}}</script>
    {{/each}}
</div>
</body>
</html>
