<div class="Palette" bo-drag-polyfill>
    <section ng-repeat="section in sections | orderBy:'order' ">
        <div class="Palette-title clickable"
             ng-class="{'Palette-title--collapsed': collapsed}"
             ng-click="collapsed = !collapsed"
             translate>
             {{section.name | translate}}
        </div>

        <div collapse="collapsed">
            <div ng-repeat="widget in section.widgets | orderBy:'component.order'" class="Palette-widget">
                <palette-widget widget="widget"></palette-widget>
            </div>
        </div>
    </section>
</div>
