<div class="title" translate>Assets</div>
<div class="content">
    <div class="col-xs-7">

    </div>
    <div class="col-xs-5 alignright">
        <label class="sr-only" translate> filter : </label>
        <div class="search-filter">
            <label class="checkbox-inline" ng-repeat="search in searchedAsset">
                <input type="checkbox" ng-model="search.filter"> {{search.label}}
            </label>
        </div>
    </div>
    <hr>
    <div class="col-xs-12">
        <table class="table table-condensed  table-striped table-text-ellipsis">
            <thead>
            <th class="col-xs-9" translate>Name</th>
            <th class="col-xs-1" translate>Type</th>
            <th class="col-xs-1" translate>Scope</th>
            <th class="col-xs-1" translate>&nbsp;</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="asset in component.assets | filter:filterBySearchedAsset">
                <td >{{asset.name}}</td>
                <td>{{asset.type | assetType}}</td>
                <td>{{asset.scope}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>