<div class="col-xs-12">
    <table class="table table-condensed  table-striped table-text-ellipsis">
        <thead>
        <th class="col-xs-{{isAssetPage ? 8 : 10}}" translate>Nawidgetme</th>
        <th class="col-xs-2" translate ng-if="isAssetPage">Widget</th>
        <th class="col-xs-1" translate>Type</th>
        <th class="col-xs-1" translate>&nbsp;</th>
        </thead>
        <tbody>
        <tr ng-repeat="asset in assets | filter:filterBySearchedAsset as results">
            <td>{{asset.name}}</td>
            <td ng-if="isAssetPage">{{asset.componentId}}</td>
            <td>{{asset.type | assetType}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="{{isAssetPage ? 4 : 3}}" ng-if="results.length===0">No asset for the moment</td>
        </tr>
        </tbody>
    </table>
</div>
