<table class="table table-condensed  table-striped table-text-ellipsis">
    <thead>
    <th class="col-xs-{{isPageAsset ? 8 : 10}}" translate>Name</th>
    <th class="col-xs-2" translate ng-if="isPageAsset">Widget</th>
    <th class="col-xs-1" translate>Type</th>
    <th class="col-xs-1" translate>&nbsp;</th>
    </thead>
    <tbody>
    <tr ng-repeat="asset in assets | filter:filterBySearchedAsset as results">
        <td>{{asset.name}}</td>

        <td ng-if="isAssetPage">{{asset.componentId}}</td>
        <td>{{asset.type | assetType}}</td>
        <td class="text-right">
            <div class="btn-group link-group btn-group-sm">
                <button class="btn btn-bonita-asset" ng-click="openAssetPreviewPopup(asset)" title="{{ 'View asset content' | translate }}" ng-if="!isExternal(asset)">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="{{isPageAsset ? 4 : 3}}" ng-if="results.length===0">No asset</td>
    </tr>
    </tbody>
</table>

