<form action="{{assetSavingAction}}" novalidate name="addAsset" error-catcher="onError(error)" ng-upload="onSuccess(content)">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="isNewAsset" translate>Add a new asset</h3>

        <h3 class="modal-title" ng-if="!isNewAsset"><span translate>Edit asset</span>
            <strong>{{asset.name}}</strong></h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label control-label--required" for="type" translate>Type</label>
            <select name="type" ng-model="newAsset.type" class="form-control" ng-options="type.key as type.label for type in assetTypes"></select>
        </div>

        <div class="form-group">
            <label class="control-label control-label--required" for="source" translate>Source</label>
            <select name="type" class="form-control" ng-model="newAsset.source" ng-options="source for source in assetSources"></select>
        </div>

        <div class="form-group" ng-if="newAsset.source===externalSource">
            <label class="control-label control-label--required" for="name">
                <span translate>URL</span>
            </label>
            <input type="url" name="name" ng-model="newAsset.name" class="form-control" autofocus placeholder="http://...." required>
            <p class="text-danger" ng-show="addAsset.name.$dirty && addAsset.name.$error.url" translate>Not valid url (should start by http:// or https://)! </p>
        </div>

        <div class="form-group" ng-if="newAsset.source  !==externalSource">
            <label class="control-label control-label--required" for="name">
                <span translate>File</span>
            </label>
            <div class="input-group file-upload">
                <input type="text" readonly="" disabled placeholder="{{'Select your file' | translate}}"
                       value="{{newAsset.filename}}" class="form-control">
                    <span class="input-group-btn">
                <span class="btn" ng-class="{'btn-default disabled':$isUploading, 'btn-primary':!$isUploading}">
                    <input class="file-upload-input"
                           ng-class="{'file-upload-input--disabled':$isUploading}"
                           name="file" type="file"
                           ng-model="newAsset.filename"
                           required file-input-change/>
                    <i class="fa" ng-class="{'fa fa-spinner fa-pulse':$isUploading, 'fa-folder':!$isUploading}"/>
                </span>
            </span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-if="newAsset.source!==externalSource" ng-disabled="!addAsset.$valid" translate>Save</button>
        <button class="btn btn-primary" type="button" ng-if="newAsset.source===externalSource" ng-click="saveExternalAsset(newAsset)" ng-disabled="!addAsset.$valid" translate >Save</button>
        <button class="btn btn-link" type="button" ng-click="cancel()" translate>Cancel</button>
    </div>
</form>
