.asset-preview-iframe {
  border:none;
  height: 70vh;
}

.asset-ordering-action {
  color: @btn-bonita-default-bg;
}

.btn-asset--help {
  margin-left: 1em;
}

.AssetTable-active {
  width: 4em;
}

.AssetTable-actions {
  width: 7.2em;
}

.AssetTable-scope {
  width: 20%;
}

.AssetTable-type {
  width: 8em;
}
