<div class="form-group">
    <label class="control-label control-label--required" for="source" translate>Source</label>
    <select id="source" class="form-control" ng-model="newAsset.source"
            ng-disabled="!isNewAsset"
            ng-options="k as v.value for (k, v) in assetSources"></select>
</div>
<div class="form-group" ng-if="isExternalAsset(newAsset)">
    <label class="control-label control-label--required" for="name">
        <span translate>URL</span>
    </label>
    <input type="url" id="name" ng-model="newAsset.name" class="form-control" autofocus
           placeholder="http://...." required>

    <p class="text-danger" ng-show="addAsset.name.$dirty && addAsset.name.$error.url" translate>Invalid URL
        (must start by http:// or https://)! </p>
</div>

<div class="form-group" ng-if="!isExternalAsset(newAsset)">
    <label class="control-label control-label--required" for="file">
        <span translate>File</span>
    </label>

    <div class="input-group file-upload">
        <input id="file" type="text" readonly="" disabled placeholder="{{'Select your file' | translate}}"
               value="{{newAsset.filename}}" class="form-control">
                    <span class="input-group-btn">
                <span class="btn" ng-class="{'btn-default disabled':$isUploading, 'btn-primary':!$isUploading}">
                    <input class="file-upload-input"
                           ng-class="{'file-upload-input--disabled':$isUploading}"
                           name="file" type="file"
                           ng-model="newAsset.filename"
                           required file-input-change/>
                    <i class="fa" ng-class="{'fa fa-spinner fa-pulse':$isUploading, 'fa-folder':!$isUploading}"/>
                </span>
            </span>
    </div>
</div>
