<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" translate>Help</h3>
</div>
<div class="modal-body">
    <tabset class="tabs-left">
        <tab heading="{{ 'General' | translate }}">
            <p translate>
                Assets enable you to add web resources to pages and forms. Available asset types are <strong>JavaScript</strong>, <strong>CSS</strong>, and <strong>Image</strong>. Assets can be <strong>Local</strong> (file stored into the page artifact) or External (URL).
            </p>
            <p translate>
                A local asset name must not contain special characters or spaces. An external asset name must be a standard URL.
            </p>

            <p translate ng-if="!isPage">
                To use the same asset in several pages, you can add it to a custom widget and use this custom widget in your application pages or forms. When you add a custom widget with assets to a page, those assets are automatically linked to the page.
            </p>

        </tab>

        <tab heading="{{ 'Asset use' | translate }}" ng-if="isPage">
            <p translate>
                Add JavaScript assets for custom scripts. They will be loaded and made available at page level. You can use them in variables of type JavaScript expression. In the value field of the variable, simply call the functionand pass the required parameters.
            </p>

            <p translate >
                Add CSS assets at page level and use them to edit the CSS classes property of any widget. (UI Designer integrates default Bootstrap style)
            </p>
            <p translate>
                Image assets can be displayed in custom widgets (see Custom widget editor > Assets help).
            </p>
            <p translate>
                Add image assets at page level if the image is used as a custom widget property.
            </p>
        </tab>

        <tab heading="{{ 'Asset use' | translate }}" ng-if="!isPage">
            <p translate >
                In a JavaScript asset, you can specify a dependency on an Angular module. First add the JavaScript asset, and then add the module name in the dedicated section. You can find the the available modules on <a href="http://ngmodules.org/">http://ngmodules.org/</a>.
            </p>
            <p translate>
                To use an image asset, you need to create a custom widget. <button ng-click="examplesCollapsed = !examplesCollapsed" type="button" class="btn btn-link">See this example</button>
            </p>
            <section>
                <div class="well" collapse="!examplesCollapsed">
                    <div>
                        In the custom widget editor, create a widget with two properties:
                        <ul>
                            <li><code>{name : "src", type : "text", "Default value" : "assets/img/assetname.png"}</code></li>
                            <li><code>{name : "description", type : "text"}</code></li>
                        </ul>
                        <p>
                            You do not need to define a controller but you must create an HTML template:
                            <br>

                            <code ng-non-bindable>
                                &lt;img ng-src="{{properties.src}}" alt="{{properties.description}}";&gt;
                            </code>
                        </p>
                        <p>
                            You can now use this custom widget in any page, by adding an image asset and changing the property <code>src</code> to point to it. For an external asset, specify a URL. To load a local image, specify a relative path as follows:

                        <ul>
                            <li><code>assets/img/[image name]</code> for a local image added in the page</li>
                            <li><code>widgets/[custom widget id]/assets/img/[image name]</code> for a local image added in a widget  (if the name of your custom widget is <code>image</code>, its id will be <code>customImage</code>)</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </section>
        </tab>

        <tab heading="{{ 'Asset list' | translate }}" ng-if="isPage">
            <p translate >
                The list contains both page assets and the assets of the custom widgets used in this page.
            </p>
            <p translate >
                In the list, you can delete page assets only, view local assets, and edit external assets of a page.
            </p>
            <p translate >
                You can’t manually change the order of assets in a page.
            </p>
            <p translate >
                At runtime, custom widget assets are loaded in alphabetical order of the custom widgets. For each custom widget, the assets are loaded in the order they are listed. Then page assets are loaded. JavaScript and CSS assets are loaded in the page header.
            </p>
        </tab>

        <tab heading="{{ 'Asset list' | translate }}" ng-if="!isPage">
            <p translate >
                In this list, you can use the arrows to reorder assets, view local assets, edit external assets, and delete any.
            </p>
            <p translate >
                At runtime, assets of a custom widget are loaded in the order defined.
            </p>
        </tab>

        <tab heading="{{ 'Custom services' | translate }}" ng-if="isPage">
            <p translate >
                To extend pages or forms with custom angular services (filters, constants, factories and more), use the <code>bonitasoft.ui.extensions</code> module. <br><button ng-click="extensionsExamplesCollapsed = !extensionsExamplesCollapsed" type="button" class="btn btn-link">Relative time filter example</button>
            </p>

            <section>
                <div class="well" collapse="!extensionsExamplesCollapsed">
                    <div>
                        <h4 translate>Relative time filter</h4>
                        <p translate>
                            This filter will provide a common way of displaying relative time, transforming '01/01/2011' to '4 years ago' for instance. To do so, you may use the <a href="http://momentjs.com/">Moment.js</a> library.
                        </p>
                        <p translate>
                            <ul>
                                <li translate>import the moment.js as an external asset.</li>
                                <li>
                                    <p translate>Create a JavaScript file named <code>date-ago-filter.js</code> that will define the filter in the <code>bonitasoft.ui.extensions</code> module :</p>
                                    <pre><code ng-non-bindable>angular.module('bonitasoft.ui.extensions')
  .filter('dateAgo', ['$window', function ($window) {
    return function dateAgo(input) {
      var compar = new Date(input);
      return $window.moment(compar).fromNow();
    };
}]);</code></pre></li>
                                <li translate>Import this JavaScript file as a page local asset.</li>
                                <li translate>Create a JSON variable <code>updateDate</code> to hold a timestamp as a long </li>
                                <li translate>To display the date in a widget property evaluated as an expression, use the <code>dateAgo</code> filter on the <code>updateDate</code> variable as follows: <code>updateDate | dateAgo</code></li>
                            </ul>
                        </p>
                </ul>
                    </div>
                </div>
            </section>
        </tab>


    </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()" translate>Close</button>
</div>
