<div class="content">
    <div class="col-xs-7">
        <button class="btn btn-default" ng-click="openAssetPopup()" translate>Create a new asset</button>
    </div>
    <div class="col-xs-5 text-right">
        <label class="sr-only" translate> filter : </label>
        <div class="search-filter">
            <label class="checkbox-inline" ng-repeat="search in searchedAsset">
                <input type="checkbox" ng-model="search.filter"> {{search.label}}
            </label>
        </div>
    </div>

    <div class="col-xs-12" ng-include="'js/assets/assets-table.html'"></div>

</div>
