.table-hover tr {
    cursor: pointer;
}

.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* .component is in col- system, so for widget including .container we set his width to 100% to avoid horizontal scrollbar
   if we don't do that, bootstrap will set it's width in px corresponding to resolution
 */
.component .container {
    width: 100%;
}

.typeahead-sublist {padding: 0}
.typeahead-sublist li {
    list-style: none;
    padding: 0 5px;
    display: inline-block;
}


input[type=text|email|number|password].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

.control-label--required:after {
  content: "*";
  color: #C00;
}

/**
 * file upload
 */
.file-upload {
  position: relative;
  overflow: hidden;

  .form-control {
    z-index: 1;

    &[readonly] {
      cursor: inherit;
    }
  }

}

.file-upload-input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  font-size: 1000px; /*the button part of the file input will cover all the input */
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: pointer;
  display: block;
  z-index: 2;
}

.file-upload-input--disabled {
  left: 0;
  right: auto;
  width:0;
  height:0;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
}

.file-upload-clear{
  border: none;
  background: transparent;
  font-size: 16px;
  z-index: 3;
  position: absolute;
  top: calc(50% - .7em);
  right: 2.5em;
  color: #666;
  padding: .1em .4em;
}

.file-upload-clear:hover {
  color: #333;
}
