.table-hover tr {
    cursor: pointer;
}

.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

input[type=text|email|number|password].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

.control-label--required:after {
  content: "*";
  color: #C00;
}
