<pb-input ng-if="properties.labelHidden"
          label="{{properties.label}}" required type="{{properties.type}}"
          ng-readonly="properties.readOnly"
          label-hidden
          ng-required="properties.required"
          value="{{properties.value}}" min="{{properties.min}}" max="{{properties.max}}"
          min-length="{{properties.minLength}}" max-length="{{properties.maxLength}}"
          label-position="{{properties.labelPosition}}" label-width="{{properties.labelWidth}}"
          placeholder="{{properties.placeholder}}" step="{{properties.step}}"></pb-input>
<pb-input ng-if="!properties.labelHidden"
          label="{{properties.label}}" type="{{properties.type}}"
          ng-readonly="properties.readOnly"
          ng-required="properties.required"
          value="{{properties.value}}" min="{{properties.min}}" max="{{properties.max}}"
          min-length="{{properties.minLength}}" max-length="{{properties.maxLength}}"
          label-position="{{properties.labelPosition}}" label-width="{{properties.labelWidth}}"
          placeholder="{{properties.placeholder}}" step="{{properties.step}}"></pb-input>
