<form action="{{ import.url }}"
      name="uploadForm"
      ng-upload="import.onComplete(content)">
    <div class="modal-header">
        <h3 class="modal-title">{{ import.popupTitle | translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="input-group file-upload">
            <input type="text" readonly="" disabled placeholder="{{'Select your .zip file' | translate}}" value="{{import.filename}}" class="form-control">
            <span class="input-group-btn">
                <span class="btn" ng-class="{'btn-default disabled':$isUploading, 'btn-primary':!$isUploading}">
                    <input class="file-upload-input"
                           ng-class="{'file-upload-input--disabled':$isUploading}"
                           name="file" type="file"
                           accept="application/zip"
                           ng-model="import.filename"
                           required file-input-change  />
                    <i class="fa" ng-class="{'fa fa-spinner fa-pulse':$isUploading, 'fa-folder':!$isUploading}" />
                </span>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="uploadForm.$invalid || $isUploading" translate>Import</button>
        <button type="button" class="btn btn-link" ng-click="import.close()" translate>Cancel</button>
    </div>
</form>
