<div class="ImportReport" ng-controller="ImportSuccessMessageController as import">
    <p><span class="ImportReport-type">{{ type | translate }}</span> <strong>{{ element.name }}</strong>
        <translate>successfully imported.</translate> 
    </p>
    <section class="ImportReport-added" ng-if="dependencies.added">
        <translate>Added artifacts</translate>:
        <import-report-item-list page-name="element.name" type="type" display-page="!overridden" dependencies="dependencies.added"></import-report-item-list>
    </section>
    <section class="ImportReport-overridden" ng-if="dependencies.overridden">
        <translate>Overridden artifacts</translate>:
        <import-report-item-list page-name="element.name" type="type" display-page="overridden" dependencies="dependencies.overridden"></import-report-item-list>
    </section>
</div>
