<form class="NewArtifact" name="newArtifactForm" ng-submit="createCtrl.create(createCtrl.type, createCtrl.name)">
    <div class="modal-header">
        <h3 class="modal-title" translate>Create new artifact</h3>
    </div>
    <div class="modal-body">
        <div class="form-group NewArtifact-type">
            <label for="type" tranlate>Type</label>
            <div class="radio" ng-repeat="type in createCtrl.types">
                <label><input type="radio" name="type" id="type-{{type.key}}" ng-model="createCtrl.type" ng-value="type">{{type.value | translate}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="name" translate>Name</label>
            <input autofocus ui-validate="{alreadyExists : '!createCtrl.isNameUniqueIfRelevantForType($value, createCtrl.type)'}" ui-validate-watch="'createCtrl.type'" name="name" type="text" class="form-control" id="name" required placeholder="{{ createCtrl.type.value + ' name' | translate }}" ng-model="createCtrl.name" ng-pattern="'[a-zA-Z0-9]*$'">
        </div>
        <div ng-messages="newArtifactForm.name.$error" role="alert">
            <div ng-message="pattern"><span class="text-danger NewArtifact-error" translate>{{ createCtrl.type.value }} name should contains only alphanumeric characters with no space</span></div>
            <div ng-message="alreadyExists"><span class="text-danger NewArtifact-error" translate>A {{ createCtrl.type.value.toLowerCase() }} with this name already exists</span></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="newArtifactForm.$invalid" translate>Create</button>
        <button type="button" class="btn btn-link" ng-click="createCtrl.close()" translate>Cancel</button>
    </div>
</form>
