<div class="text-danger" ng-message="required" translate>This field is required</div>
<div class="text-danger" ng-message="minlength" translate>This field length should be larger</div>
<div class="text-danger" ng-message="maxlength" translate>This field length should be smaller</div>
<div class="text-danger" ng-message="min" translate>This value is too small</div>
<div class="text-danger" ng-message="max" translate>This value is too large</div>
<div class="text-danger" ng-message="email" translate>This is not a valid email</div>
