<div class="text-danger" ng-message="required" translate>This field is required</div>
<div class="text-danger" ng-message="minlength" translate>This field is too short</div>
<div class="text-danger" ng-message="maxlength" translate>This field is too long</div>
<div class="text-danger" ng-message="min" translate>This value is too small</div>
<div class="text-danger" ng-message="max" translate>This value is too big</div>
<div class="text-danger" ng-message="email" translate>This is not a valid email</div>
