<div id="cannot-delete-popup">
    <div class="modal-header">
        <h3 class="modal-title">
            <span translate>Deletion is not possible</span>
        </h3>
    </div>
    <div class="modal-body">
        <span translate>The {{ artifact.type }} cannot be deleted because it is used in:</span>
        <ul>
            <li ng-repeat="(key, value) in artifact.usedBy">
                <translate translate-n="artifact.usedBy[key].length" translate-plural="{{ key }}s">{{ key }}</translate>: <span style="margin-left: 2px" class="badge" ng-repeat="usedBy in artifact.usedBy[key]">{{ usedBy.name }}</span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()" translate>Close</button>
    </div>
</div>
