<p class="Artifact-empty" ng-if="artifactList.all.length === 0" translate>
    No artifact found.
</p>

<ul class="ArtifactList">
    <li class="ArtifactList-item ArtifactList-item--primary ArtifactList-{{ artifact.type }}"
        id="{{ artifact.id }}"
        ng-repeat="artifact in artifactList.all">
        <div class="Artifact-info">
            <a ng-if="!artifactList.isInEditionMode($index)" ui-sref="designer.{{artifact.type}}({id: artifact.id})"
               class="Artifact-link Artifact-link--primary">
                        <span title="{{ artifact.name }}">
                            <i class="ui-icon ui-{{ artifact.type }}s Artifact-icon" title="{{ artifact.type | translate }}"></i>
                            {{ artifact.name }}
                        </span>
            </a>

            <form name="renameArtifact" class="Artifact-form"
                  ng-if="artifactList.isInEditionMode($index)"
                  ng-submit="artifactList.renameItem(artifact)"
                  ng-init="artifact.newName = artifact.name">
                <input name="name"
                       artifact-name-validation
                       data-autofocus
                       id="page-name-input-{{$index}}"
                       ng-model="artifact.newName"
                       ng-blur="renameArtifact.$valid && artifactList.renameItem(artifact)"
                       class="form-control" required>
            </form>
        </div>
        <div class="Artifact-actions">
            <button class="Artifact-button Artifact-button--primary Artifact-rename"
                    ng-click="artifactList.toggleItemEdition($index)"
                    type="button"
                    title="{{'Rename' | translate}}"
                    ng-if="artifactList.getRepository(artifact.type).rename">
                <i class="fa fa-pencil"></i>
            </button>
            <favorite-button artifact-repository="artifactList.getRepository(artifact.type)" artifact="artifact"></favorite-button>
            <button file-download class="Artifact-button Artifact-button--primary Artifact-export"
                    href="{{ artifactList.getRepository(artifact.type).exportUrl(artifact) }}" title="{{'Export' | translate }}">
                <i class="ui-icon ui-export"></i>
            </button>
            <button class="Artifact-button Artifact-button--primary Artifact-delete"
                    type="button"
                    ng-click="artifactList.deleteArtifact(artifact)"
                    title="{{'Delete' | translate }}">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </li>
</ul>
