<p class="Artifact-empty" ng-if="artifactList.all.length === 0" translate>
    No artifact found.
</p>

<ul class="ArtifactList" ng-if="artifactList.all.length ">
    <li class="ArtifactList-item ArtifactList-item--primary ArtifactList-{{:: artifact.type }}"
        id="{{:: artifact.id }}"
        ng-repeat="artifact in artifactList.all track by artifact.id">
        <div class="Artifact-info" ng-switch="artifactList.isInEditionMode($index)">
          <a ng-switch-default ng-href="{{:: artifact.editionUrl }}" 
               class="Artifact-link Artifact-link--primary">
                <span ng-if="artifact.icon" class="Artifact-icon"><identicon name="{{artifact.id}}" size="25" foreground-color="[198, 199, 228, 255]" background-color="[0,0,0,0]"></identicon></span>
                <i ng-if="!artifact.icon" class="ui-icon ui-{{:: artifact.type }}s Artifact-icon"
                   title="{{:: artifact.type }}"></i>
                <span title="{{:: artifact.name }}" class="Artifact-text">
                    <span class="Artifact-name">{{:: artifact.name }}</span>
                    <span class="Artifact-metadata"
                      >{{:: artifactList.translateKeys('Last Update:') }} {{:: artifact.lastUpdate | date:'short' }}</span>
                </span>
            </a>

            <form name="renameArtifact" class="Artifact-form"
                  ng-switch-when="true"
                  ng-submit="artifactList.renameItem(artifact)"
                  ng-init="artifact.newName = artifact.name">
                <input name="name"
                       artifact-name-validation
                       data-autofocus
                       id="page-name-input-{{:: $index }}"
                       ng-model="artifact.newName"
                       ng-blur="renameArtifact.$valid && artifactList.renameItem(artifact)"
                       class="form-control" required>
            </form>
        </div>
        <div class="Artifact-actions">
            <button class="Artifact-button Artifact-button--primary Artifact-rename"
                    ng-click="artifactList.toggleItemEdition($index)"
                    type="button"
                    title="{{:: artifactList.translateKeys('Rename') }}"
                    ng-if=":: artifactList.getRepository(artifact.type).rename">
                <i class="fa fa-pencil"></i>
            </button>
            <favorite-button artifact-repository="::artifactList.getRepository(artifact.type)"
                             artifact=":: artifact"></favorite-button>
            <button file-download class="Artifact-button Artifact-button--primary Artifact-export"
                    href="{{:: artifactList.getRepository(artifact.type).exportUrl(artifact) }}"
                    title="{{:: artifactList.translateKeys('Export') }}">
                <i class="ui-icon ui-export"></i>
            </button>
            <button class="Artifact-button Artifact-button--primary Artifact-delete"
                    type="button"
                    ng-click="artifactList.deleteArtifact(artifact)"
                    title="{{:: artifactList.translateKeys('Delete') }}">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </li>
</ul>
