.idea/
*.iml
.classpath
.project
.settings/

bower_components/
node_modules/
target/
npm-debug.log
.extract/

backend/webapp/node/
backend/webapp/src/main/webapp/i18n/*.json
backend/webapp/src/test/resources/i18n/*.json

frontend/node/
frontend/build/

tests/node/
*.swp
