.Preview {
  height: 100%;

  &-header {
    background-color: @color-editor-header-bg;
    color: @color-editor-header-text;
    border-radius: 0;
  }

  &-resolutionBar {
    .navbar-vertical-align(@input-height-base);
  }

  &-toolbar {
    float: right;

    .navbar-nav {
      margin: auto;
    }
  }
}

.Preview-viewport {
  height: calc(~"100%" -  @nav-bar-height + 30);
  border: 2px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 1em auto 0;
  box-sizing: content-box;
}


