<div class="title" translate>Data</div>
<div class="content">
    <div class="col-xs-8">
        <button class="btn btn-primary" ng-click="openDataPopup()" translate>Create a new variable</button>
    </div>
    <div class="col-xs-4">
        <label class="sr-only"> filter : </label>

        <div class="search-filter">
            <i class="fa fa-search search-filter-icon" aria-hidden="true"></i>
            <input class="form-control search-filter-input" ng-model="searchedData" placeholder="Search"
                   ng-change="filterPageData()" type="search">
            <button type="button" ng-if="clearFilterVisible(searchedData)" ng-click="clearFilter()"
                    class="search-filter-button" title="Clear filter" aria-label="Clear filter">
                <i aria-hidden="true" class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-12">
        <table class="table table-condensed  table-striped table-text-ellipsis">
            <thead>
            <th translate>Name</th>
            <th translate>Value</th>
            <th translate>Type</th>
            <th ng-if="exposableData" translate>Exposed</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="(key, data) in pageData track by key">
                <td class="col-xs-2">{{key}}</td>
                <td class="col-xs-5"> {{data.value}}
                </td>
                <td class="col-xs-1">{{getLabel(data.type)}}</td>
                <td class="col-xs-1" ng-if="exposableData">
                    <i class="fa" ng-class="{'fa-check': data.exposed}"></i>
                </td>
                <td class="col-xs-1">
                    <div class="btn-group link-group btn-group-sm pull-right">
                        <button class="btn update-data" ng-click="openDataPopup(key)" title="Edit variable">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn delete-data" ng-click="delete(key)" title="Delete variable">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
