<form name="addData" role="form" novalidate ng-submit="save(newData)">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="isNewData" translate>Create a new variable</h3>

        <h3 class="modal-title" ng-if="!isNewData"><span translate>Edit variable</span>
            <strong>{{newData.$$name}}</strong></h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-if="isNewData" ng-class="{'has-error': !isDataNameUnique(newData.$$name)}">
            <label class="control-label control-label--required" for="name">
                <span translate>Name</span>
                <span ng-show="!isDataNameUnique(newData.$$name)" translate> '{{newData.$$name}}' already exists</span>
            </label>
            <input type="text" class="form-control" autofocus placeholder="{{'Name' | translate}}" name="name"
                   ng-model="newData.$$name" ng-trim="false" ng-pattern="/^[a-zA-Z][\w]*$/" required>

            <p class="text-danger" ng-show="addData.name.$dirty && addData.name.$error.pattern" translate>Variable names
                must start with a letter and contain only alphanumeric characters</p>
        </div>
        <exposable-data model="newData.exposed" ng-if="exposableData"></exposable-data>
        <div ng-if="!newData.exposed">
          <div class="form-group">
              <label class="control-label" for="type" translate>Type</label>
              <select name="type"
                      class="form-control"
                      ng-model="newData.type"
                      ng-change="updateValue(newData.type)"
                      ng-options="dataType.type as getLabel(dataType.type) group by dataType.group for dataType in dataTypes"></select>
          </div>
          <div ng-switch="newData.type" class="form-group form-group--data">
              <!-- string -->
              <label ng-switch-default class="control-label" for="value" translate>Value</label>
              <input ng-switch-default type="text" class="form-control" placeholder="{{'Value' | translate }}" id="value"
                     name="value" ng-model="newData.value">

              <!-- url parameter -->
              <label ng-switch-when="urlparameter" class="control-label" for="value" translate>URL parameter name</label>
              <input ng-switch-when="urlparameter" type="text" class="form-control" placeholder="{{'name' | translate}}"
                     id="value" name="value" ng-model="newData.value">

              <p class="help-block" ng-switch-when="urlparameter" translate>
                  <span class="tip">Tip:</span> URL parameters are located after a <em>?</em> in the page URL.
              </p>
              <!-- url -->
              <label ng-switch-when="url" class="control-label" for="value" translate>API URL</label>
              <input ng-switch-when="url" autofocus type="text" class="form-control" placeholder="../API" id="value"
                     name="value" ng-model="newData.value" required valid-url>

              <div class="help-block" ng-switch-when="url" translate>
                  <p><span class="tip">Tip:</span> You can use data in the URL, by using the syntax <em ng-non-bindable>{{dataName}}</em></p>
                  <p><span class="tip">Tip:</span> You can extend our REST API capabilities by creating <em>REST API extensions</em> in the Studio <i>Development</i> menu and use them here</p>
              </div>

              <section ng-switch-when="url" >
                  <button ng-click="examplesCollapsed = !examplesCollapsed" type="button" class="btn btn-link" translate>See examples</button>
                  <div class="well" uib-collapse="examplesCollapsed">
                      <div class="form-group">
                          <select class="form-control" ng-options="example as example.description group by example.category for example in apiExamples"
                                  ng-model="example"></select>
                      </div>
                      <div>
                        <p>{{ example.before }}</p>
                          <p ng-bind-html="example.url"></p>
                          <p>{{ example.more }}</p>
                    </div>
                    <div ng-if="example.alternative">
                        <p>{{ example.alternative.before }}</p>
                        <p ng-bind-html="example.alternative.url"></p>
                        <p>{{ example.alternative.more }}</p>
                      </div>
                  </div>
              </section>

              <!-- json -->
              <label ng-switch-when="json" class="control-label" for="value" translate>Value</label>
              <ace-editor class="ace-editor--data" ng-switch-when="json" autofocus mode="json" ng-model="newData.value"
                          ng-model-options="{debounce: 300}" name="object" class="form-control" required valid-json
                          id="value"></ace-editor>
              <p class="help-block" ng-switch-when="json" translate>
                  <span class="tip">Tip:</span> Array syntax: ["val1", "val2"], Object syntax: {"key": "value"}
              </p>

              <section ng-switch-when="json" >
                  <button ng-click="examplesCollapsed = !examplesCollapsed" type="button" class="btn btn-link" translate>See examples</button>
                  <div uib-collapse="examplesCollapsed">
                      <p translate>
                          supportTicket is an object composed of a <em>subject</em>, <em>severity</em> level,
                          user <em>environment</em>, reporter’s <em>contact</em> (<em>name</em> and <em>job title</em>), and an <em>URL</em> providing more details on the contact.
                      </p>
                      <pre>{
      "subject": "I have an issue",
      "severity": 2,
      "environment": ["Linux","PostgreSQL 9.3","Java 1.8","AngularJS 1.3"],
      "contact":{
          "name":"John Doe",
          "jobTitle":"FrontEnd developer",
           "contactDetailsURL":"http://jsonplaceholder.typicode.com/users/1"
      }
  }</pre>
                      <p class="alert alert-info">
                          <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                          <span translate>JSON specifications can be found on the </span>
                          <a href="http://www.w3.org/TR/json-ld/" title="{{'view W3C\'s Json specification'|translate}}" translate>W3C website</a>
                      </p>
                  </div>
              </section>

              <!-- expression -->
              <label ng-switch-when="expression" class="control-label" for="value" translate>Value</label>
              <ace-editor class="ace-editor--data" ng-switch-when="expression" autofocus mode="javascript" auto-completion="{{pageData}}"
                          ng-model="newData.value" ng-model-options="{debounce: 300}" name="expression"
                          class="form-control" id="value"></ace-editor>
              <p class="help-block" ng-switch-when="expression" translate>
                  <span class="tip">Tip:</span> Hit <span class="key">$</span> key to access data, use ctrl-space to trigger autocomplete.
              </p>
              <section ng-switch-when="expression" >
                  <button ng-click="examplesCollapsed = !examplesCollapsed" type="button" class="btn btn-link" translate>See examples</button>
                  <div uib-collapse="examplesCollapsed">
                      <p class="alert alert-default">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                          <span translate>This example uses the JSON example provided if you select the type JSON.<br> It looks for the string ‘Linux’ in the array <code>environment</code> of JSON object <code>supportTicket</code></span>
                      </p>
                      <pre>return $data.supportTicket.environment.some(function(env){
     return env.indexOf("Linux") != -1;
  });</pre>
                  </div>
              </section>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-bonita-default" ng-if="isNewData"
                ng-disabled="!addData.$valid || !isDataNameUnique(newData.$$name)" translate>Save
        </button>
        <button class="btn btn-bonita-default" ng-if="!isNewData" ng-disabled="!addData.$valid" translate>Save</button>
        <button class="btn btn-link" type="button" ng-click="cancel()" translate>Cancel</button>
    </div>
</form>
