<div class="row">
    <label
        ng-if="!properties.labelHidden"
        ng-class="{ 'widget-label-horizontal': !properties.labelHidden && properties.labelPosition === 'left'}"
        class="col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}">
        {{ properties.label }}
    </label>

    <div class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}" >

        <input
            type="text"
            class="form-control"
            placeholder="{{ properties.placeholder }}"
            typeahead-append-to-body="true"
            typeahead="ctrl.getLabel(item) for item in properties.availableValues | filter:$viewValue"
            typeahead-template-url="customTypeaheadForInputAutocomplete.html"
            ng-model="properties.value"
            ng-readonly="properties.readOnly">

        <!-- It doesn't work if we put it inside form.html -->
        <script type="text/ng-template" id="customTypeaheadForInputAutocomplete.html">
            <a  bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
        </script>
    </div>
</div>
