<div class="text-danger" ng-message="required">{{ 'This field is required' | uiTranslate}}</div>
<div class="text-danger" ng-message="minlength">{{ 'This field length should be larger' | uiTranslate }}</div>
<div class="text-danger" ng-message="maxlength">{{ 'This field length should be smaller' | uiTranslate }}</div>
<div class="text-danger" ng-message="min">{{ 'This value is too small' | uiTranslate }}</div>
<div class="text-danger" ng-message="max">{{ 'This value is too large' | uiTranslate }}</div>
<div class="text-danger" ng-message="email">{{ 'This is not a valid email' | uiTranslate }}</div>
<div class="text-danger" ng-message="url">{{ 'This is not a valid URL' | uiTranslate }}</div>
<div class="text-danger" ng-message="date">{{ 'This is not a valid date' | uiTranslate }}</div>
