<div pb-property-values='formcontainer-reference'>
    <form novalidate class="col-xs-12" ng-class="properties.cssClasses" name="$form" ng-if="!properties.hidden">
        <div pb-property-values="container-reference">
            <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                <div class="row">
                    <div pb-property-values="component-reference">
                        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses">
                            <pb-label></pb-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
