<!doctype html>
<html>
<head>
    <title>pageName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='mycontext/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../theme/theme.css">

    <script src="mycontext/js/vendor.min.js?modelVersion=2.2"></script>
    <script src="mycontext/js/runtime.min.js?modelVersion=2.2"></script>

    <!-- assets attached to the page -->
    <script src="assets/js/bonita.vendors.js?hash=da39a3ee5e6b4b0d3255bfef95601890afd80709"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="bonita.min.js"></script>

    <!-- widgets directives minified -->
    <script src="assets/widgets-f8b2ef17808cccb95dbf0973e7745cd53c29c684.js"></script>
</head>
<body ng-app="bonitasoft.ui" pb-model='page-id'>
<div class="container-fluid">
    <div class="row">
        <div pb-property-values='container-reference'>
            <div class="col-xs-12" ng-class="properties.cssClasses"
                 ng-if="!properties.hidden">
                <div class="row">
                    <div pb-property-values='input-reference'>
                        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses">
                            <input></input></div>
                    </div>
                    <div pb-property-values='paragraph-reference'>
                        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses">
                            <paragraph></paragraph>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>var baz = "qux";</script>
</div>
</body>
</html>
