"<tab pb-property-values="tab-reference" ng-hide="properties.hidden" disable="properties.disabled" active="properties.active">
    <tab-heading ng-class="properties.cssClasses" ui-translate>
        <span>
            <span ng-if="!properties.allowHTML" ng-bind="properties.title | uiTranslate"></span>
            <ng-bind-html ng-if="properties.allowHTML" ng-bind-html="properties.title | uiTranslate" /></span>
    </tab-heading>
    <div ng-hide="properties.hidden" ng-if="properties.active">
        <div pb-property-values="container-reference">
            <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                <div class="row">
                    <div pb-property-values="paragraph-reference">
                        <div ng-if="!properties.hidden" class="component col-xs-12" ng-class="properties.cssClasses">
                            <paragraph></paragraph>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tab>"
