<div class="modal-header">
    <h3 class="modal-title" ng-if="!paramToUpdate" translate>Create new property</h3>
    <h3 class="modal-title" ng-if="paramToUpdate"><span translate>Edit property</span> <i>{{ currentParam.name }}</i></h3>
</div>
<form name="propertyForm" ng-submit="ok()">
    <div class="modal-body">
        <div class="form-group">
            <label for="name" class="control-label control-label--required" translate>Name</label> &nbsp;<small class="text-muted" translate>(used in your template and controller)</small>
            <input id="name" class="form-control" name="name" ng-model="currentParam.name" ng-pattern="'[a-zA-Z0-9]*$'" required autofocus>
            <span ng-if="propertyForm.name.$error.pattern" class="text-danger" translate>Property names must start with a letter and contain only alphanumeric characters</span>
        </div>
        <div class="form-group">
            <label for="label" class="control-label control-label--required" translate>Label</label> &nbsp;<small class="text-muted" translate>(displayed in editor's property panel)</small>
            <input id="label" class="form-control" name="label" ng-model="currentParam.label" required>
        </div>
        <div class="form-group">
            <label for="bond" class="control-label control-label--required" translate>Treat value as
            <span tooltip-template="'js/editor/help/description-bond-help.html'" class="fa fa-info-circle"></span></a></label>
            <select id="bond" class="form-control" name="bond" ng-model="selectedBond"
                   ng-change="updateType()" required ng-options="bond as bondDetails.name | translate for (bond, bondDetails) in bonds">
                   </select>
            <div class="col-md-12" >
                <small ng-click="bondHelpToggled = !bondHelpToggled" class="clickable"> <span ng-if="bondHelpToggled" class="fa fa-caret-down"></span><span ng-if="!bondHelpToggled" class="fa fa-caret-right"></span> <u>Description</u></small>
            </div>
        </div>
        <section>
        <div class="col-md-12" collapse="!bondHelpToggled">
            <div><ng-include src="bonds[selectedBond].template"/></div>
        </div>
        </section>
        <div class="form-group" ng-if="isTypeSelectable()">
            <label for="type" class="control-label control-label--required" translate>Type</label>
            <select id="type" class="form-control" name="type" ng-model="currentParam.type"
                    ng-options="type for type in types" ng-change="currentParam.defaultValue = null" required></select>
        </div>
        <div class="form-group" ng-if="isTypeChoicable()">
            <label for="choices" class="control-label control-label--required" translate>Choices (comma separated)</label>
            <input id="choices" class="form-control" name="choices" ng-model="currentParam.choiceValues" ng-list required>
        </div>
        <div class="form-group" ng-if="selectedBond !== 'variable'">
            <div ng-switch="currentParam.type">
            <label for="default" class="control-label" translate>Default</label>
            <input id="default" class="form-control" name="default" ng-model="currentParam.defaultValue"
                   ng-switch-default>
            <input id="default" type="number" class="form-control" name="default"
                   ng-model="currentParam.defaultValue" ng-switch-when="integer">
            <select id="default" class="form-control" name="default" ng-init="currentParam.defaultValue = true"
                   ng-model="currentParam.defaultValue" ng-options="key for key in [true, false]" ng-switch-when="boolean">
            <input id="default" type="text" class="form-control" name="default" ng-list
                   ng-model="currentParam.defaultValue" ng-switch-when="collection">
            <select id="default" class="form-control" name="default"
                    ng-model="currentParam.defaultValue" ng-switch-when="choice"
                    ng-options="choice for choice in currentParam.choiceValues"></select>
            </div>
        </div>
        <!--due to some bad management of the modal-footer size and its top border,
        the description content overlaps the footer's top border... we need to add some text to force it to improve modal-body height -->
        <div ng-if="selectedBond === 'variable'" style="font-size: 0.1em; opacity: 0">thx ui-bootstrap...</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-bonita-default" ng-disabled="propertyForm.$invalid" ng-click="ok()">{{ (paramToUpdate ? 'Save' : 'Create')|translate }}</button>
        <button type="button" class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
    </div>
</form>
