<div class="EditorHeader" role="navigation">
    <div class="EditorHeader-menu">
        <a class="EditorHeader-back" ui-sref="designer.home">
            <i class="fa fa-chevron-left"></i>
        </a>
        <i class="EditorHeader-icon ui-icon ui-designer"></i>
        <strong class="EditorHeader-brand" translate>
            Custom widget editor
        </strong>
        <h3 class="EditorHeader-name">
            {{widget.name}}
        </h3>
        <div class="btn-group" dropdown>
            <button id="save" type="button" class="btn btn-bonita-primary" ng-click="save()" translate>Save</button>
            <button type="button" class="btn btn-bonita-primary dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Save</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a id="saveAs" href="#"  ng-click="saveAs(widget)" translate>Save as ...</a></li>
            </ul>
        </div>
        <button type="button"
                id="export"
                class="btn btn-bonita-primary"
                ng-click="saveAndExport()"
                title="{{'Export'|translate}}">
            <i class="fa fa-alias-export"></i>
        </button>
    </div>

</div>


<div class="container-fluid CustomEditor">
    <div class="row">
        <div class="col-sm-7">
            <form id="widget-form" name="widgetForm">
                <div>
                    <h4 class="CustomEditor-section">
                        <translate>Description</translate>
                        <i class="fa fa-info-circle CustomEditor-helper" tooltip-placement="bottom" tooltip="{{'This description will be displayed as a tooltip in the palette' | translate }}" tooltip-append-to-body="true"></i>
                    </h4>
                    <textarea class="form-control textarea--widget" placeholder="{{ 'Widget description' | translate }}" ng-model="widget.description"></textarea>
                </div>
                <div>
                    <h4 class="CustomEditor-section" translate>Template</h4>
                    <ace-editor class="ace-editor--widget" mode="html" ng-model="widget.template" id="template"></ace-editor>
                </div>
                <div>
                    <h4 class="CustomEditor-section" translate>Controller</h4>
                    <ace-editor class="ace-editor--widget" mode="javascript" ng-model="widget.controller" id="controller"></ace-editor>
                </div>
            </form>
        </div>
        <div class="col-sm-5">

            <div ui-view="asset"></div>

            <div class="form-group">
                <h4 class="CustomEditor-section" translate>
                    Required angular modules
                    <i class="fa fa-info-circle CustomEditor-helper" tooltip="{{'Extra angular modules needed by this custom widget (comma separated)' | translate }}" tooltip-append-to-body="true"></i>
                </h4>
                <input type="text" class="form-control" id="requiredModules" ng-model="widget.requiredModules" ng-list>
            </div>

            <table class="table table-striped">
                <thead>
                    <th class="col-xs-10">
                         <h4 class="CustomEditor-section" translate>Properties</h4>
                    </th>
                    <th class="col-xs-2 Property-actions">
                        <button id="create" title="Create a new property" class="btn btn-bonita-primary" ng-click="createOrUpdate()">
                            <i class="fa fa-plus"></i>
                            <span translate>Create</span>
                        </button>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="property in widget.properties">
                        <td class="col-xs-10">
                            <strong class="property-name">{{ property.name }}</strong><br/>
                            <small translate>Label</small>:
                            {{ property.label }}<br/>
                            <small translate>Type</small>:
                            {{property.type}}<br/>
                            <span ng-if="property.type === 'choice'"><small translate>Choices</small>: {{ property.choiceValues.join(', ') }}<br/></span>
                            <span><small translate>Default value</small>: {{ property.defaultValue }}</span>
                        </td>
                        <td class="col-xs-2 Property-actions">
                            <button class="btn btn-bonita-default" title="Update property" ng-click="createOrUpdate(property)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-bonita-default" title="Delete property" ng-click="deleteParam(property)"><i class="fa fa-trash"></i></button>
                     </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="createProperty.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-if="!paramToUpdate" translate>Create new property</h3>
            <h3 class="modal-title" ng-if="paramToUpdate"><span translate>Edit property</span><i>{{ currentParam.name }}</i></h3>
        </div>
        <form name="propertyForm" ng-submit="ok()">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name" class="control-label control-label--required" translate>Name</label> &nbsp;<small class="text-muted" translate>(used in your template and controller)</small>
                    <input id="name" class="form-control" name="name" ng-model="currentParam.name" ng-pattern="'[a-zA-Z0-9]*$'" required autofocus="animationFinished">
                    <span ng-if="propertyForm.name.$error.pattern" class="text-danger" translate>Property names must start with a letter and contain only alphanumeric characters</span>
                </div>
                <div class="form-group">
                    <label for="label" class="control-label control-label--required" translate>Label</label> &nbsp;<small class="text-muted" translate>(displayed in editor's property panel)</small>
                    <input id="label" class="form-control" name="label" ng-model="currentParam.label" required>
                </div>
                <div class="form-group">
                    <label for="type" class="control-label control-label--required" translate>Type</label>
                    <select id="type" class="form-control" name="type" ng-model="currentParam.type"
                            ng-options="type for type in types" ng-change="currentParam.defaultValue = null" required></select>
                </div>
                <div class="form-group" ng-if="currentParam.type === 'choice'">
                    <label for="choices" class="control-label control-label--required" translate>Choices (comma separated)</label>
                    <input id="choices" class="form-control" name="choices" ng-model="currentParam.choiceValues" ng-list required>
                </div>
                <div class="form-group">
                    <label for="default" class="control-label" translate>Default</label>
                    <input id="default" class="form-control" name="default" ng-model="currentParam.defaultValue"
                           ng-if="currentParam.type === 'text' || currentParam.type === 'html'">
                    <input id="default" type="number" class="form-control" name="default"
                           ng-model="currentParam.defaultValue" ng-if="currentParam.type === 'integer'">
                    <select id="default" class="form-control" name="default" ng-init="currentParam.defaultValue = true"
                           ng-model="currentParam.defaultValue" ng-options="key for key in [true, false]" ng-if="currentParam.type === 'boolean'">
                    <input id="default" type="text" class="form-control" name="default" ng-list
                           ng-model="currentParam.defaultValue" ng-if="currentParam.type === 'collection'">
                    <select id="default" class="form-control" name="default"
                            ng-model="currentParam.defaultValue" ng-if="currentParam.type === 'choice'"
                            ng-options="choice for choice in currentParam.choiceValues"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-bonita-default" ng-disabled="propertyForm.$invalid" ng-click="ok()">{{ (paramToUpdate ? 'Save' : 'Create')|translate }}</button>
                <button type="button" class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
            </div>
        </form>
    </script>
</div>
