<div class="modal-header">
    <h3 class="modal-title break-word" translate>Export {{ctrl.page.name}}</h3>
</div>
<form class="form EditorHeader-exportForm" name="exportPage">
    <div class="modal-body" id="modal-export-page">
        <div>
            <h4 translate>Exported formats</h4>
            <p translate>The .zip archive of an exported page contains: </p>
            <ul>
                <li translate>JSON descriptor to exchange between UI Designers</li>
                <li translate>Minified widgets JavaScript for optimized performance</li>
                <li translate>Standard widgets JavaScript for edition outside the UI Designer</li>
            </ul>
            <p>
                <b translate>Attention:</b>
                <span translate>if you edit the page, form or layout outside the UI Designer, you will not be able to reimport it.</span>
                <span translate>You will have to manage the minification and update the resources URL to trigger the cache busting.</span>
                <span translate>For more information, consult the <a href="https://documentation.bonitasoft.com/?page=live-update#cache_busting">documentation</a>.</span>
            </p>
        </div>
        <div class="checkbox">
            <label uib-tooltip="{{'If checked, this popup will not be displayed again unless you clean up your browser cache' | translate}}"
                tooltip-placement="top-left"
                tooltip-append-to-body="true"
                tooltip-popup-delay="300">
                <input
                    name="doNotShowAgain"
                    ng-model="ctrl.doNotShowAgain"
                    id="doNotShowAgain"
                    type="checkbox">
                <translate>Do not show me this dialog again</translate>
            </label>
        </div>
    </div>
    <div class="modal-footer" id="modal-export-page-controls">
        <button class="btn btn-primary" ng-click="ctrl.ok()" name="export" translate>Export</button>
        <button class="btn btn-link" ng-click="$dismiss('cancel')" name="cancel" translate>Cancel</button>
    </div>
</form>
