<div class="modal-header">
    <h3 class="modal-title" translate>Export {{ctrl.page.name}}</h3>
</div>
<form class="form EditorHeader-exportForm" name="exportPage">
    <div class="modal-body" id="modal-export-page">
        <div>
            <p translate>You can choose what to export depending on the artifact's target.</p>
            <p translate>Generate an artifact for: </p>
        </div>
        <div class="form-group">
            <div class="radio">
                <label uib-tooltip="{{'Includes only a minified version of the widgets\' Javavascript' | translate}}"
                    tooltip-placement="top-left"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="300">
                    <input
                        name="exportMode"
                        ng-model="ctrl.exportMode"
                        id="minified"
                        type="radio"
                        value="minified"
                        disabled>
                    <translate>Production (optimized Javascript)</translate>
                </label>
            </div>
            <div class="checkbox" ng-show="ctrl.exportMode === 'minified'">
                <label uib-tooltip="{{'Includes the UI Designer JSON descriptor of the page' | translate}}"
                    tooltip-placement="top-left"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="300">
                    <input
                        name="withJSON"
                        ng-model="ctrl.withJSON"
                        id="json"
                        type="checkbox"
                        disabled>
                    <translate>Editable in the UI Designer (JSON descriptor)</translate>
                </label>
            </div>
            <div class="radio">
                <label uib-tooltip="{{'Includes a readable version of all the widgets\' Javascript' | translate}}"
                    tooltip-placement="top-left"
                    tooltip-append-to-body="true"
                    tooltip-popup-delay="300">
                    <input
                        name="exportMode"
                        ng-model="ctrl.exportMode"
                        id="readable"
                        type="radio"
                        value="readable"
                        disabled>
                    <translate>Development (readable Javascript and JSON descriptor)</translate>
                </label>
            </div>
        </div>
        <div>
            <div class="ui-alert ui-alert-info" ng-show="ctrl.exportMode === 'readable' || ctrl.withJSON" translate>The generated artifact can be imported back in the UI Designer.</div>
            <div class="ui-alert ui-alert-warning" ng-show="ctrl.exportMode === 'minified' && !ctrl.withJSON" translate>The generated artifact cannot be imported back in the UI Designer.</div>
            <div class="ui-alert ui-alert-info" ng-show="ctrl.exportMode === 'minified' && !ctrl.withJSON" translate>The generated artifact is optimized for database space and performance.</div>
            <div class="ui-alert ui-alert-warning" ng-show="ctrl.exportMode === 'readable' || ctrl.withJSON" translate>The generated artifact is not optimized for database space and performance.</div>
        </div>
    </div>
    <div class="modal-footer" id="modal-export-page-controls">
        <button class="btn btn-primary" ng-click="ctrl.ok()" translate>Export</button>
        <button class="btn btn-link" ng-click="$dismiss('cancel')" translate>Cancel</button>
    </div>
</form>
