<div class="EditorHeader" role="navigation">
    <div class="EditorHeader-menu">
        <a class="EditorHeader-back" ng-click="vm.back()" uib-tooltip="{{ 'Back' | translate }}" tooltip-placement="right" tooltip-popup-delay="300">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a ui-sref="designer.home" class="EditorHeader-homeNav" uib-tooltip="{{ 'Home page' | translate }}" tooltip-placement="right" tooltip-popup-delay="300">
          <span class="EditorHeader-icon">
            <i class="ui-icon ui-designer"></i>
          </span>
          <strong class="EditorHeader-brand" translate>
              <span>{{ vm.mode }}</span> editor
          </strong>
        </a>

        <form name="formName" class="form-inline EditorHeader-form" autocomplete="off">
            <input type="text" name="name"
                   artifact-name-validation="bottom"
                   class="form-control EditorHeader-name"
                   id="pageName"
                   placeholder="{{ 'Enter ' +  vm.mode + ' name' | translate }}"
                   ng-model="vm.page.name"
                   ng-trim="false"
                   required>
            <div class="btn-group" uib-dropdown>
                <button id="save" type="button" class="btn btn-bonita-primary" ng-disabled="!formName.$valid" ng-click="vm.save(vm.page)" translate>
                    Save
                </button>
                <button type="button" class="btn btn-bonita-primary uib-dropdown-toggle" ng-disabled="!formName.$valid" uib-dropdown-toggle>
                    <span class="fa fa-caret-down"></span>
                    <span class="sr-only" translate>Save</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="saveAs" class="clickable" ng-click="vm.saveAs(vm.page)" ng-disabled="!formName.$valid" translate>Save as ...</a></li>
                </ul>
            </div>
            <button type="button" id="export" class="btn btn-bonita-primary" ng-disabled="!formName.$valid" ng-click="vm.saveAndExport(vm.page)"
                    title="{{ 'Export' | translate }}">
                <i class="ui-icon ui-export"></i>
            </button>
        </form>
        <button class="btn btn-bonita-primary"
                id="preview"
                title="{{ 'Preview' | translate }}"
                ng-click="vm.save(vm.page)"
                ng-disabled="!formName.$valid"
                open-preview="{{vm.mode}}">
            <i class="fa fa-play"></i>
            <span translate>Preview</span>
        </button>
    </div>
    <div class="EditorHeader-resolutions">
        <div resolutions-bar id="resolutions" class="btn-group"></div>
    </div>
    <div class="EditorHeader-help">
        <button class="btn btn-bonita-help" ng-click="vm.openHelp()" title="{{'Open help' | translate}}"><i class="fa fa-question-circle"></i></button>
    </div>
</div>
