<ng-container *properties-values="'{{ reference }}'; let properties;">
    <ng-container *ngIf="!properties.hidden">
    {{#repeated}}
        <ng-container *ngIf="properties.repeatedCollection as $collection">
    {{/repeated}}
            <div class="{{ dimensionAsCssClasses }}"
                 [ngClass]="properties.cssClasses"
                 {{#repeated}}
                *ngFor="let $item of $collection;index as $index; count as $count;"
                 {{/repeated}}>
                {{{rowsHtml}}}
            </div>
    {{#repeated}}
        </ng-container>
    {{/repeated}}
    </ng-container>
</ng-container>

