<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" translate>Help</h3>
</div>
<div class="modal-body">
    <uib-tabset class="tabs-left">
        <uib-tab heading="{{ 'Overview' | translate }}">
            <p translate>
                Use the UI Designer to create or edit web artifacts: <b>application pages</b> composing business
                applications, <b>process forms</b> linked to process instantiation or human
                tasks execution, as well as <b>application layouts</b>, applied to all pages of a business application.
            </p>
            <p translate>Artifact creation:</p>
            <ul>
                <li translate>Create an <b>application page</b> directly in the UI Designer</li>
                <li translate>Start creating a <b>process form</b> in Bonita Studio: from the appropriate pool or
                    human task, create a contract and launch the UI Designer. It will auto-generate a dedicated form to
                    edit.
                </li>
                <li translate>Start creating an <b>application layout</b> by importing the default layout, available in
                    the Bonita Portal
                    resources, and edit it.
                </li>
            </ul>

            <p translate>
                An artifact designed with the UI Designer can be exported to be shared with teammates (import in the UI
                Designer) or used in business applications (import in Bonita Portal).
            </p>

            <p translate>
                There is a set of <b>default widgets</b> for displaying information to and for gathering information
                from the end users. You can also create
                <b>custom widgets</b>.
            </p>

            <p translate>
                Create a fragment to reuse the same group of widgets with the same behavior in several pages or forms.
            </p>

            <p translate>
                The UI Designer generates <b>standard html application code, based on AngularJS</b>. Export pages if you
                want to further customize them in a
                different favorite web development environment.
            </p>
        </uib-tab>

        <uib-tab heading="{{ 'Integration with Bonita platform' | translate }}">
            <p translate>
                <b>To use a page in a business application</b>, export it from the UI Designer, import it into Bonita
                Portal resources, and from the
                relevant application, add it to the list of pages and to a navigation menu.
            </p>

            <p translate>
                <b>To use a form in a process</b>, map it in the studio to the relevant process or human task. It will
                be automatically packaged in the
                .bar archive ready to deploy in the portal.</p>

            <p>
                <span translate><b>To update a form during production</b>, export the form from the UI Designer, import it into the relevant process in the portal, and
                    then map it to the relevant task or process start event.</span>
            </p>

            <p translate>
                <b>To use a layout in a business application</b>, export it from the UI Designer, import it into the
                portal as a resource and map it as the
                layout of the relevant application.
            </p>
        </uib-tab>
        <uib-tab heading="{{ 'Noteworthy changes' | translate }}" class="shaker">
            <uib-accordion>
                <uib-accordion-group is-open="status.bonita717open">
                    <uib-accordion-heading>
                        Bonita 2023.2 <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': status.bonita717open, 'glyphicon-chevron-right': !status.bonita717open}"></i>
                    </uib-accordion-heading>
                    <dt translate>Handle 401 and 503 errors on Bonita REST API requests</dt>
                    <p translate>A pop-up will be displayed to inform users in case of session timeout or running maintenance for all Bonita REST API requests made from UI-Designer pages</p>


                </uib-accordion-group>
                <uib-accordion-group is-open="status.bonita716open">
                    <uib-accordion-heading>
                        Bonita 2023.1 <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': status.bonita716open, 'glyphicon-chevron-right': !status.bonita716open}"></i>
                    </uib-accordion-heading>
                    <dt translate>Accessibility</dt>
                    <p translate>The following improvements have been made so that digitally accessible applications could be developed natively with Bonita UI Designer with less custom code:</p>
                    <ul>
                        <li translate>An attribute <code>lang</code> is now available. The attribute is based on the <code>BOS_locale</code> cookies at page initialization and will automatically get filled without any user action.</li>
                        <li translate>Table and Data table widget have a new <code>caption</code> property available for adding a title</li>
                        <li translate>The default widgets in the palette that contain a html <code>input</code> tag have now an associated label, which will facilitate the use of computer tools (screen readers for example)</li>
                        <li translate>To be more accessible for speech synthesizers, screen readers or some other tools, the internal html template of checklist and radio buttons widget has been updated.</li>
                    </ul>
                    <div class="alert alert-warning">
                        <i class="fa fa-lg fa-warning">&nbsp;</i>
                        <translate>The changes will automatically be available when changing a page in Bonita UI Designer <2023.1> developed with a previous Bonita UI Designer version. Custom styling could be impacted so take this fact into account in your development estimates.</translate>
                    </div>
                    <dt translate>Bonita resources</dt>
                    <p translate>You can manually declare the Bonita REST API resources which you're using in your artifact when the automatic detection fails to found them.</p>
                    <p translate>The automatic detection allows you to see explicitly which REST API resources is needed in your artifact from the newest Bonita Resource panel.</p>

                    <dt translate>JSON Source model</dt>
                    <p translate>We have reorganized the order of the fields contained in the json file in order to facilitate the file comparison. </p>
                    <div class="alert alert-info">
                        <i class="fa fa-lg fa-info">&nbsp;</i>
                        <translate>When using a version control system, like git for example, migrating to this last version may cause reorder changes in json models that must be pushed.</translate>
                    </div>

                </uib-accordion-group>
                <uib-accordion-group is-open="status.bonita715open">
                    <uib-accordion-heading>
                        Bonita 2022.2 <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': status.bonita715open, 'glyphicon-chevron-right': !status.bonita715open}"></i>
                    </uib-accordion-heading>
                    <dt translate>AngularJs 1.8</dt>
                    <p translate>Frontend has been migrated to AngularJS 1.8. Note: artefacts are still generated with AngularJS 1.3. Stay tuned for further updates.</p>

                    <dt translate>Currency input widget</dt>
                    <p translate>A new widget is now available to display our data with currency</p>
                    <dt translate>Interpret HTML default properties</dt>
                    <p translate>To avoid some HTML injection in your page/form, we put for <b>Interpret HTML</b> property the default value to false for all widgets. If you already put this property to true, nothing change for you.</p>

                </uib-accordion-group>
                <uib-accordion-group is-open="status.bonita713open">
                    <uib-accordion-heading>
                        Bonita 2021.2 <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.bonita713open, 'glyphicon-chevron-right': !status.bonita713open}"></i>
                    </uib-accordion-heading>
                    <dt translate>Improvements on the widget switch</dt>
                    <p translate>The switch widget feature has been improved to guide the user efficiently to avoid incompatible properties mapping that may lead to inconsistent states of widgets.</p>

                    <dt translate>Tab widget: Possibility to define the selected tab</dt>
                    <p translate>It is now possible to define the tab that will be selected by default in the tab group with the new "Selected" field on the tabs.</p>

                    <dt translate>API Variables response Metadata usage</dt>
                    <p translate>It is now possible to easily bind the metadata of an API variable response (header, status code, and response value) to other variables</p>

                </uib-accordion-group>
                <uib-accordion-group is-open="status.bonita712open">
                    <uib-accordion-heading>
                        Bonita 7.12 <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.bonita712open, 'glyphicon-chevron-right': !status.bonita712open}"></i>
                    </uib-accordion-heading>
                    <dt translate>Migration enhancements</dt>
                    <p translate>Upgrade between maintenance versions without migration.
                        When a migration is required, get help from the UI Designer (warning icon, confirmation dialog, migration report) </p>

                    <dt translate>Community edition features</dt>
                    <p translate>Get all the advanced features such as fragments and localization in the community edition.</p>

                </uib-accordion-group>
            </uib-accordion>


        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <div>
        <div class="modal-footer-info" translate>
            <b>UI Designer version</b>: {{ctrl.getUidVersion()}} - <b>Model version</b>: {{ctrl.getModelVersion()}}
        </div>
        <button class="btn btn-link" ng-click="$dismiss()" translate>Close</button>
    </div>
</div>
