<div class="Panel">
    <div class="Panel-heading">
        <h3 class="Panel-title">
            <i class="ui-icon ui-customwidgets Panel-icon"></i>
            <span translate>Custom Widgets</span>
        </h3>
    </div>

    <div class="Panel-body">
        <p class="Artifact-empty" ng-if="widgets.length == 0" translate>
            No custom widget
        </p>

        <ul class="ArtifactList">
            <li class="ArtifactList-item" ng-repeat="widget in widgets | filter:filters | orderBy:'-lastUpdate'">
                <div class="Artifact-info">
                    <a ui-sref="designer.widget({ id: widget.id })" class="Artifact-link ">
                        <span title="{{ widget.name }}">
                            <i class="ui-icon ui-customwidgets Artifact-icon"></i>
                            {{ widget.name }}
                        </span>
                    </a>
                </div>
                <div class="Artifact-actions">
                    <favorite-button artifact-repository="widgetRepo" artifact="widget"></favorite-button>
                    <button file-download class="Artifact-button Artifact-button--primary btn-widget-export" href="{{exportWidgetUrl(widget)}}" title="{{'Export widget' | translate }}">
                        <i class="fa fa-alias-export"></i>
                    </button>
                    <button class="Artifact-button btn-widget-delete"
                            type="button"
                            ng-click="deleteCustomWidget(widget)"
                            title="{{'Delete widget' | translate }} {{ widget.name }}">
                        <i class="fa fa-trash">&nbsp;</i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
