<home-header></home-header>

<div class="container container--Home">
    <div class="row">
        <div class="col-xs-12">
            <form class="HomeFilters-form" role="search">
                <div class="form-group">
                    <search value="filters.name" placeholder="{{ 'Search on name' | translate }}"></search>
                </div>

                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="all" ng-model="filters.favorite" ng-value="undefined">
                        <translate>All</translate>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="favorites" ng-model="filters.favorite" ng-value="true">
                        <translate>Favorites</translate>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-xs-12 Home-toolbar">
            <uid-create-artifact></uid-create-artifact>
            <uid-import-artifact></uid-import-artifact>
        </div>
    </div>
    <div class="row row--Home">
        <section class="col-sm-7 col--Home" id="pages">
            <home-pages></home-pages>
        </section>

        <section class="col-sm-5 col--Home" id="widgets">
            <home-widgets></home-widgets>
        </section>
    </div>
</div>
