<div id="home-container">
    <header class="home-header">
        <div class="container">
            <span class="helper"></span>

            <div class="row">
                <div class="col-sm-4 col-xs-2">
                    <img src="img/logo.png" class="hidden-xs hidden-sm">
                    <img src="img/small-logo.png" class="hidden-lg hidden-md">
                </div>
                <div id="title" class="col-sm-4 col-xs-8 text-center">
                    <h1 translate>UI designer</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row panels">

            <section class="col-sm-8" id="pages">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-code-o pull-right"></i> <span translate>Pages</span></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <legend translate>New Page</legend>
                            <form class="form col-xs-10" name="newPage" ng-submit="createPage(page)">
                                <div class="input-group">
                                    <input
                                            name="name"
                                            ng-model="page.name"
                                            ng-pattern="'[a-zA-Z0-9]*$'"
                                            class="form-control"
                                            id="page-name"
                                            placeholder="{{'Page Name' | translate}}"
                                            required>
                                            <span class="input-group-btn">
                                                <button id="create-page" title="{{'Create new page' | translate}}" type="submit"
                                                        class="btn btn-success"
                                                        ng-disabled="!newPage.$valid"><i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                    </div>
                                    <span ng-if="newPage.name.$error.pattern" class="text-danger" translate>Page name should contains only alphanumeric characters with no space</span>
                            </form>
                            <button class="btn btn-default" title="{{'Import a page' | translate}}"  ng-click="importElement('page')"><i class="fa fa-alias-import"></i></button>
                        </fieldset>

                        <fieldset class="top-margin-30">
                            <legend translate>Existing Pages</legend>

                            <p ng-if="pages.length == 0" translate>
                                No page yet.
                            </p>

                            <table class="table table-striped">
                                <tr ng-repeat="page in pages | orderBy:'-lastUpdate'">
                                    <td class="col-xs-7">
                                        <a ng-if="!page.isEditingName" ui-sref="designer.page({id: page.id})" class="form-link home-link">{{ page.name }}</a>


                                            <form name="renamePage" class="form" ng-if="page.isEditingName" ng-submit="renameItem(page)">
                                                <input name="name"
                                                       data-autofocus
                                                       ng-pattern="'[a-zA-Z0-9]*$'"
                                                       id="page-name-input-{{$index}}"
                                                       ng-model="page.name"
                                                       ng-blur="renameItem(page)"
                                                       class="form-control" required>
                                                <span ng-if="renamePage.name.$error.pattern" class="text-danger" translate>Page name should contains only alphanumeric characters with no space</span>
                                        </form>
                                        <div class="since text-muted"><span translate>Updated</span> <span am-time-ago="page.lastUpdate"></span></div>
                                    </td>
                                    <td class="col-xs-5">

                                        <div class="pull-right btn-group link-group btn-group-sm">
                                            <button
                                                class="btn btn-page-rename"
                                                ng-click="toggleItemEdition(page)"
                                                title="{{'Rename page' | translate}}"><i class="fa fa-pencil"></i>
                                            </button>
                                            <a
                                                class="btn btn-page-export"
                                                target="_self"
                                                ng-href="{{exportPage(page)}}"
                                                title="{{'Export page' | translate}}"><i class="fa fa-alias-export"></i></a>
                                            <button
                                                class="btn btn-page-delete"
                                                ng-click="deletePage(page)"
                                                title="{{'Delete page'| translate}}"><i class="fa fa-trash"></i></button>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </fieldset>

                    </div>
                </div>
            </section>

            <section class="col-sm-4" id="widgets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-alias-custom-widget pull-right"></i><span translate>Custom Widgets</span></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <legend translate>New Widget</legend>
                            <form class="form col-xs-10" name="newWidget" ng-submit="createWidget(widget.name)">
                                <div class="input-group">
                                    <input name="name" ng-model="widget.name" type="text" class="form-control" id="widget-name" placeholder="{{'Widget Name' | translate}}" ng-pattern="'[a-zA-Z0-9]*$'" required>
                                    <span class="input-group-btn">
                                        <button id="create-widget" title="{{'Create new widget'| translate }}" type="submit" class="btn btn-success" ng-disabled="!newWidget.$valid"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                                <span ng-if="newWidget.name.$error.pattern" class="text-danger" translate>Widget name should contains only alphanumeric characters with no space</span>
                            </form>
                            <button class="btn btn-default" title="{{'Import a widget' | translate}}"  ng-click="importElement('widget')"><i class="fa fa-alias-import"></i></button>
                        </fieldset>


                        <fieldset class="top-margin-30">
                            <legend translate>Existing Widgets</legend>
                            <p ng-if="widgets.length == 0" translate>
                                No custom widget yet.
                            </p>


                            <table class="table table-striped">
                                <tr ng-repeat="widget in widgets | orderBy:'name'">
                                    <td class="col-xs-8">
                                        <a ui-sref="designer.widget({ widgetId: widget.id })" class="widget-link home-link">{{ widget.name }}</a>
                                        <div class="since text-muted"><span translate>Updated</span> <span am-time-ago="widget.lastUpdate"></span></div>
                                    </td>
                                    <td class="col-xs-4">
                                        <div class="pull-right btn-group link-group btn-group-sm">
                                            <a
                                                    class="btn btn-widget-export"
                                                    target="_self"
                                                    ng-href="{{exportWidget(widget)}}"
                                                    title="{{'Export widget' | translate }}"><i class="fa fa-alias-export"></i></a>
                                            <button
                                                class="btn btn-widget-delete"
                                                ng-click="deleteCustomWidget(widget)"
                                                title="{{'Delete widget' | translate }} {{ widget.name }}"><i class="fa fa-trash">&nbsp;</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
