<div class="form-group" ng-init="descriptionCollapsed=true;">
    <label for="description" ng-click="descriptionCollapsed = !descriptionCollapsed">
        <i class="property-collapsed glyphicon"
           ng-class="{'glyphicon-chevron-right': descriptionCollapsed, 'glyphicon-chevron-down': !descriptionCollapsed}"></i>
        <translate>Description</translate>
        <i class="fa fa-info-circle" tooltip-placement="top-right"
           uib-tooltip="{{ 'Put usage of this widget. This information is only visible on UI-Designer editor' | translate }}"
           tooltip-append-to-body="true"></i>
    </label>

    <div uib-collapse="descriptionCollapsed">
            <textarea ng-model="currentComponent.description" class="form-control PropertyPanel-PropertyInput"
                      id="description" rows="3" cols="50"></textarea>
    </div>
</div>
