<div class="form-group" ng-if="isDisplayed()" data-property="{{ property.name }}">

    <div class="property-label">
        <label>{{ property.label | translate }} <i class="fa fa-info-circle" ng-if="property.help"
                                                   tooltip="{{property.help | translate}}"
                                                   tooltip-append-to-body="true"></i></label>
        <small class="help-block">{{property.caption | translate}}</small>
    </div>
    <ng-include src="propertyField.getBondTemplate(property)"></ng-include>
</div>
