<div class="PropertyPanel-inner" ng-show="currentComponent">

    <div class="PropertyPanel-header">
        <button ng-if="currentComponent.$$widget.hasHelp" ng-click="triggerWidgetHelp()" class="btn btn-xs btn-bonita-help-widget PropertyPanel-help-btn"
                uib-popover-template="widgetHelpTemplateURL" type="button"
                popover-trigger="none" popover-is-open="widgetHelpPopover.isOpen" popover-placement="left-top" popover-class="PropertyPanel-help-popover">
            <i class="fa fa-question-circle"></i>
        </button>

        <div id="action" class="btn-group PropertyPanel-widget-action-btn" uib-dropdown>
            <button ng-if="currentComponent.$$widget.type !== 'container' && currentComponent.type !== 'fragment'" id="widgetActionButton" type="button" class="btn btn-xs btn-bonita-action-widget" uib-dropdown-toggle
                    tooltip-placement="top-right" uib-tooltip="{{ 'Widget actions' | translate }}"
                    tooltip-append-to-body="true">
                <span class="fa fa-ellipsis-v"/>
            </button>
            <ul class="dropdown-menu dropdown-menu-right PropertyPanel-widget-action-menu" role="menu" aria-labelledby="typeButton">
                <li><a ng-if="!currentComponent.$$widget.custom" id="viewAction" class="clickable PropertyPanel-widget-action-item"
                       ng-click="saveAndEditCustomWidget(currentComponent.$$widget.id)"  translate>View...</a></li>
                <li><a ng-if="currentComponent.$$widget.custom" id="editAction" class="clickable PropertyPanel-widget-action-item"
                       ng-click="saveAndEditCustomWidget(currentComponent.$$widget.id)"  translate>Edit...</a></li>
                <li><a id="switchAction" class="clickable PropertyPanel-widget-action-item" ng-click="" translate>Switch...</a></li>
            </ul>
        </div>
        <h3 class="PropertyPanel-title">
            {{ currentComponent.$$widget.name }}
        </h3>
    </div>
    <div class="PropertyPanel-content" ng-include="currentComponent.$$propertiesTemplateUrl"></div>

</div>

<div class="PropertyPanel-inner" ng-show="!currentComponent">
    <div class="PropertyPanel-content">
        <h4 class="PropertyPanel-hint" translate>Select an element on the whiteboard, then set its properties here</h4>
    </div>
</div>
