<div id="action" class="btn-group PanelHeader-widget-action-btn" uib-dropdown>
    <button ng-if="currentComponent.$$widget.type !== 'container'" id="widgetActionButton" type="button"
            class="btn btn-xs btn-bonita-action-widget PanelHeader-widget-action-btn" uib-dropdown-toggle
            tooltip-placement="top-right" uib-tooltip="{{ 'Widget actions' | translate }}"
            tooltip-append-to-body="true">
        <span class="fa fa-ellipsis-h"/>
    </button>
    <ul class="dropdown-menu dropdown-menu-right PropertyPanel-widget-action-menu" role="menu"
        aria-labelledby="typeButton">
        <li><a ng-if="!currentComponent.$$widget.custom" id="viewAction"
               class="clickable PropertyPanel-widget-action-item"
               ng-click="saveAndEditCustomWidget(currentComponent.$$widget.id)" translate>View...</a></li>
        <li><a ng-if="currentComponent.$$widget.custom" id="editAction"
               class="clickable PropertyPanel-widget-action-item"
               ng-click="saveAndEditCustomWidget(currentComponent.$$widget.id)" translate>Edit...</a></li>
        <li><a id="switchAction"
               class="clickable PropertyPanel-widget-action-item"
               ng-click="switchCurrentComponent(currentComponent)"
               translate>Switch...</a></li>
    </ul>
</div>
