<div class="form-group" ng-if="displayCondition()" data-property="{{ property.name }}">

    <div class="property-label">
        <label>{{ property.label }} <i class="fa fa-info-circle" ng-if="property.help" tooltip="{{property.help}}" tooltip-append-to-body="true"></i></label></label>
        <small class="help-block">{{property.caption}}</small>
    </div>

    <div ng-switch="property.type" ng-if="!shouldBeLinked()">
        <div class="input-group unlinked">
            <textarea ng-switch-when="html" ng-model="propertyValue.value" class="form-control"></textarea>
            <select ng-switch-when="choice" ng-model="propertyValue.value" ng-options="choiceValue for choiceValue in property.choiceValues" class="form-control" ></select>

            <div ng-switch-when="boolean">
                <label class="radio-inline"><input ng-model="propertyValue.value" type="radio" ng-checked="false" ng-value="false"/>no</label>
                <label class="radio-inline"><input ng-model="propertyValue.value" type="radio" ng-checked="true" ng-value="true"/>yes</label>
            </div>
            <input ng-switch-when="integer" ng-model="propertyValue.value" type="number" class="form-control"/>
            <input ng-switch-when="float" ng-model="propertyValue.value" type="number" class="form-control"/>
            <input ng-switch-when="collection" ng-model="propertyValue.value" ng-list class="form-control"/>
            <input id="property-{{ property.label.toLowerCase() }}" ng-switch-default ng-model="propertyValue.value" type="text" class="form-control"/>
            <span class="input-group-btn">
                <button class="btn btn-bonita-property" ng-click="link()" title="Link data" type="button">
                    <i class="fa fa-unlink"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="input-group linked" ng-show="shouldBeLinked()">
        <form name="paramForm">
            <input name="paramValue" ng-model="propertyValue.value" type="text"
                   typeahead="key for key in getDataNames() | filter:$viewValue.trim()"
                   autofocus="linked"
                   class="form-control" />
        </form>
        <span class="input-group-btn">
            <button class="btn btn-bonita-property" ng-click="unlink()" title="Unlink data" type="button">
                <i class="fa fa-link"></i>
            </button>
        </span>
    </div>
</div>
