<div>
    <span ng-show="ctrl.editBusinessDataQueries">
    <label class="control-label" translate>"{{ctrl.businessData.name}}" data to retrieve through this variable</label>
    <div class="search-businessObject">
        <search value="ctrl.searchedQuery" placeholder="{{ 'Search by attribute or query name' | translate }}"></search>
    </div>
    </span>
    <div class="data-management" ng-show="ctrl.editBusinessDataQueries">
        <div class="queries-area">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label translate>
                        "Find By" queries on an attribute</label>

                </div>
                <div class="panel-body default-queries">
                    <ul>
                        <li class="query-name"
                            ng-class="{'active': ctrl.variableInfo.query.displayName === query.displayName}"
                            ng-repeat="query in ctrl.getQueries(ctrl.queriesForObject.defaultQuery, ctrl.searchedQuery) | orderBy:'displayName'"
                            uib-tooltip="{{ 'Click to display parameters for' | translate }} {{query.displayName}}"
                            tooltip-popup-delay="1000" tooltip-append-to-body="true" tooltip-placement="top"
                            tooltip-is-open="tooltipIsOpen" ng-mousedown="tooltipIsOpen = !tooltipIsOpen"
                            ng-click="ctrl.displayFilters(query)">
                            {{query.displayName}}
                        </li>
                    </ul>
                    <div
                        ng-show="ctrl.getQueries(ctrl.queriesForObject.defaultQuery,ctrl.searchedQuery).length === 0"
                        class="no-queries"
                        translate>
                        No queries
                    </div>
                </div>
            </div>
        </div>

        <div class="queries-area">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label translate>
                        Additionnal queries
                    </label>
                </div>
                <div class="panel-body">
                    <ul>
                        <li class="query-name"
                            ng-class="{'active': ctrl.variableInfo.query.displayName === query.displayName}"
                            ng-repeat="query in ctrl.getQueries(ctrl.queriesForObject.additionalQuery, ctrl.searchedQuery) | orderBy:'displayName'"
                            uib-tooltip="{{ 'Click to display parameters for' | translate }} {{query.displayName}}"
                            tooltip-popup-delay="1000" tooltip-append-to-body="true" tooltip-placement="top"
                            tooltip-is-open="tooltipIsOpen" ng-mousedown="tooltipIsOpen = !tooltipIsOpen"
                            ng-click="ctrl.displayFilters(query,true)">
                            {{query.displayName}}
                        </li>
                    </ul>
                    <div
                        ng-show="ctrl.getQueries(ctrl.queriesForObject.additionalQuery,ctrl.searchedQuery).length === 0"
                        class="no-queries"
                        translate>
                        No queries
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <span class="accordion-area"
          ng-click="ctrl.advancedFilter = !ctrl.advancedFilter">
        <i class="pull-left glyphicon"
           ng-class="{'glyphicon-chevron-down':ctrl.advancedFilter, 'glyphicon-chevron-right': !ctrl.advancedFilter}"
        ></i>
        <label> {{"Filter the query results of" | translate}}
            <i>{{ctrl.variableInfo.query.name}}</i>
        </label>
    </span>
    <div class="parameters-panel" ng-if="ctrl.advancedFilter">
        <div class="form-group filter-area no-padding"
             ng-repeat="filter in ctrl.variableInfo.filters track by $index">
            <label for="{{$index}}"
                   class="control-label control-label--required">"{{filter.name}}" {{ 'value' | translate}}</label>
            <span class="group-filters">
                <input id="{{$index}}" type="text"
                       class="form-control"
                       ng-model="filter.value"
                       required
                       placeholder="{{ 'Type a' | translate}} {{ctrl.getPrimitiveType(filter.type)}}"
                       autocomplete=off
                />
                <div class="input-group-addon"
                     title="{{ 'Text, optionally including variables in simple expressions for interpolation using [[ variableName ]]'  | translate | mustachify:'[[':']]' }}">
                    <i class="fa fa-paragraph"></i>
                </div>
            </span>

        </div>
        <div class="parameters-panel filter-text-info"
             ng-if="ctrl.variableInfo.filters.length === 0 && ctrl.variableInfo.query.displayName"
             translate>
            No parameter is needed for this query
        </div>
        <div class="parameters-panel filter-text-info" ng-if="!ctrl.variableInfo.query.displayName" translate>
            Select a query
        </div>
    </div>


    <div class="accordion-area">
        <div class="pagination-area"
             ng-click="ctrl.advanced = !ctrl.advanced">
            <i class="pull-left glyphicon"
               ng-class="{'glyphicon-chevron-down':ctrl.advanced, 'glyphicon-chevron-right': !ctrl.advanced}"
            ></i>
            <label translate>Pagination</label>
        </div>
        <div class="query-pagination" ng-if="ctrl.advanced">
            <div class="query-pagination-input">
                <label for="count"
                       class="control-label control-label--required" translate>Element (c)</label>
                <span class="group-filters">
                <input id="count" type="text"
                       class="form-control"
                       ng-model="ctrl.variableInfo.pagination.c"
                       required
                       placeholder="{{ 'Enter value' | translate}}"
                       autocomplete=off
                />
                <div class="input-group-addon"
                     title="{{ 'Text, optionally including variables in simple expressions for interpolation using [[ variableName ]]'  | translate | mustachify:'[[':']]' }}">
                    <i class="fa fa-paragraph"></i>
                </div>
            </span>
            </div>
            <div class="query-pagination-input">
                <label for="page"
                       class="control-label control-label--required" translate>Page number (p)</label>
                <span class="group-filters">
                <input id="page" type="text"
                       class="form-control"
                       ng-model="ctrl.variableInfo.pagination.p"
                       required
                       placeholder="{{ 'Enter value' | translate}}"
                       autocomplete=off
                />
                <div class="input-group-addon"
                     title="{{ 'Text, optionally including variables in simple expressions for interpolation using [[ variableName ]]'  | translate | mustachify:'[[':']]' }}">
                    <i class="fa fa-paragraph"></i>
                </div>
            </span>
            </div>
        </div>
    </div>
</div>
<p>
    <span class="tip">Tip:</span> Now, add the widgets to the whiteboard that will use this variable.
</p>
<p>
    <span class="tip">Tip:</span> The return type of this variable is an array.
</p>
