<div ng-class="{
    'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
    'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
    }">
    <div class="form-group">
        <label
            ng-if="!properties.labelHidden"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}">
            {{ properties.label | uiTranslate }}
        </label>

        <div
            class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}">
            <p class="input-group">
                <input class="form-control"
                       name="{{ctrl.name}}date"
                       type="text"
                       placeholder="{{properties.placeholder | uiTranslate}}"
                       ng-model="properties.value"
                       ng-readonly="properties.readOnly"
                       ng-required="properties.required"
                       bs-datepicker
                       data-container="body"
                       data-autoclose="1"
                       data-timezone="{{ctrl.timezone}}"
                       data-date-format="{{properties.dateFormat | uiTranslate}}"
                       data-trigger="focus"
                       data-start-week="{{ctrl.firstDayOfWeek}}">
                <span class="input-group-btn">
                    <button ng-if="properties.showNow" type="button" class="btn btn-default now"
                            ng-click="ctrl.setDateAndTimeToNow()"
                            ng-disabled="properties.readOnly" ui-translate>
                           Now
                    </button>
                    <button type="button" class="btn btn-default calendar"
                            ng-click="ctrl.openDatePicker()"
                            ng-disabled="properties.readOnly">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <div ng-messages="($form[ctrl.name+'date'].$dirty && $form[ctrl.name +'date'].$error)"
                 ng-messages-include="forms-generic-errors.html" role="alert"></div>
            <p class="input-group">
              <input class="form-control"
                     name="{{ctrl.name}}time"
                     type="text"
                     placeholder="{{properties.timePlaceholder | uiTranslate}}"
                     ng-model="properties.value"
                     ng-readonly="properties.readOnly"
                     ng-required="properties.required"
                     bs-timepicker
                     data-container="body"
                     data-autoclose="0"
                     data-timezone="{{ctrl.timezone}}"
                     data-time-format="{{properties.timeFormat | uiTranslate}}"
                     data-trigger="focus">

                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default timepicker"
                              ng-click="ctrl.openTimePicker()"
                              ng-disabled="properties.readOnly">
                        <i class="glyphicon glyphicon-time"></i>
                      </button>
                  </span>
            </p>
            <div ng-messages="($form[ctrl.name+'time'].$dirty && $form[ctrl.name+'time'].$error)"
                 ng-messages-include="forms-generic-errors.html" role="alert"></div>
        </div>
    </div>
</div>
