<div pb-property-values='formcontainer-reference'>
    <form class="col-xs-12" name="$form" method="POST" action="/action.do" ng-if="!properties.hidden">
        <div pb-property-values="container-reference">
            <div class="col-xs-12" ng-if="!properties.hidden">
                <div class="row">
                    <div class="component col-xs-12" pb-property-values="component-reference">
                        <div ng-if="!properties.hidden">
                            <pb-label></pb-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
