<div class="row">
    <div class="component col-xs-12" pb-property-values='1'>
        <div ng-if="!properties.hidden">
            <paragraph></paragraph>
        </div>
    </div>
</div>
<div class="row">
    <div class="component col-xs-12" pb-property-values='2'>
        <div ng-if="!properties.hidden"><input></input></div>
    </div>
    <div class="component col-xs-12" pb-property-values='3'>
        <div ng-if="!properties.hidden">
            <paragraph></paragraph>
        </div>
    </div>
</div>
