"
<div pb-property-values="tabs-container-reference">
    <pb-tabs-container>
        <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
            <tabset vertical="{{properties.vertical}}" type="{{properties.type}}">
                <tab
                    ng-if="'' &amp;&amp; !getOptions('').hidden &amp;&amp; getOptions('').dynamicTitle &amp;&amp; getOptions('').allowHtml"
                    disable="getOptions('').disabled">
                    <tab-heading ng-bind-html="getOptions('').dynamicTitle" ng-class="getOptions('').cssClasses"
                                 ui-translate=""></tab-heading>
                    <div pb-property-values="container-reference">
                        <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                            <div class="row">
                                <div pb-property-values="paragraph-reference">
                                    <div ng-if="!properties.hidden" class="component col-xs-12"
                                         ng-class="properties.cssClasses">
                                        <paragraph></paragraph>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab
                    ng-if="'' &amp;&amp; !getOptions('').hidden &amp;&amp; getOptions('').dynamicTitle &amp;&amp; !getOptions('').allowHtml"
                    disable="getOptions('').disabled">
                    <tab-heading ng-bind="getOptions('').dynamicTitle" ng-class="getOptions('').cssClasses"
                                 ui-translate=""></tab-heading>
                    <div pb-property-values="container-reference">
                        <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                            <div class="row">
                                <div pb-property-values="paragraph-reference">
                                    <div ng-if="!properties.hidden" class="component col-xs-12"
                                         ng-class="properties.cssClasses">
                                        <paragraph></paragraph>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="'' &amp;&amp; !getOptions('').hidden &amp;&amp; !getOptions('').dynamicTitle"
                     disable="getOptions('').disabled">
                    <tab-heading ng-class="getOptions('').cssClasses" ui-translate=""></tab-heading>
                    <div pb-property-values="container-reference">
                        <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                            <div class="row">
                                <div pb-property-values="paragraph-reference">
                                    <div ng-if="!properties.hidden" class="component col-xs-12"
                                         ng-class="properties.cssClasses">
                                        <paragraph></paragraph>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="'' == ''">
                    <tab-heading ui-translate=""></tab-heading>
                    <div pb-property-values="container-reference">
                        <div class="col-xs-12" ng-class="properties.cssClasses" ng-if="!properties.hidden">
                            <div class="row">
                                <div pb-property-values="paragraph-reference">
                                    <div ng-if="!properties.hidden" class="component col-xs-12"
                                         ng-class="properties.cssClasses">
                                        <paragraph></paragraph>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </pb-tabs-container>
</div>"
