<div pb-property-values='tabs-container-reference'>
    <div class="col-xs-12" ng-if="!properties.hidden">
        <tabset>
            <tab heading="">
                <div pb-property-values='container-reference'>
                    <div class="col-xs-12"
                         ng-if="!properties.hidden">
                        <div class="row">
                            <div class="component col-xs-12" pb-property-values='paragraph-reference'>
                                <div ng-if="!properties.hidden">
                                    <paragraph></paragraph>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
