<div class="input-group">
    <span class="input-group-addon Select-addon" translate>
        View in application
        <i class="fa fa-info-circle ng-scope"
           uib-tooltip="{{'In case your application is not available, please log in using a different account' | translate}}"
           tooltip-placement="bottom" tooltip-append-to-body="true"></i>
    </span>
    <select class="form-control Select-control" ng-change="setNewAppTokenAndRefresh(vm.pathToLivingApp)"
            ng-model="vm.pathToLivingApp" uib-tooltip="{{vm.selectedAppDisplayName}}" tooltip-placement="bottom" tooltip-append-to-body="true">
        <option selected value="no-app-selected" translate>None</option>
        <option ng-repeat="app in vm.apps" value="{{app.token}}">
            {{app.displayName}}
        </option>
    </select>
</div>
