<tab pb-property-values='{{ reference }}' ng-hide="properties.hidden"
     disable="properties.disabled"
     active="properties.active">
    <tab-heading ng-class="properties.cssClasses" ui-translate>
        <span>
            <span ng-if="!properties.allowHTML" ng-bind="properties.title | uiTranslate"></span>
            <ng-bind-html ng-if="properties.allowHTML" ng-bind-html="properties.title | uiTranslate"/>
        </span>
    </tab-heading>
    <div ng-hide="properties.hidden" ng-if="properties.active">
    {{{ content }}}
    </div>
</tab>

