<div class="input-group input-group-sm" ng-class="{ 'linked': propertyField.isExpression() }">
    <ng-include src="propertyField.getFieldTemplate(property)" include-replace
                ng-if="!propertyField.isExpression()"></ng-include>

    <input id="property-{{ property.label.toLowerCase() }}"
           ng-model="propertyValue.value"
           type="text"
           class="form-control PropertyPanel-expression"
           ng-if="propertyField.isExpression()"
           uib-typeahead="key for key in getDataNames() | filter:$viewValue.trim()"
           placeholder="{{ 'expression or variable' | translate }}"/>

    <span class="input-group-btn">
        <button class="btn btn-bonita-property"
                type="button"
                ng-click="propertyField.toggleExpressionEditor()">

            <i ng-if="!propertyField.isExpression()" class="ui-icon ui-expression"
               title="{{ 'Click to bind to an expression' | translate }}"></i>
            <i ng-if="propertyField.isExpression()" class="fa fa-times"
               title="{{ 'Click to bind to a constant' | translate }}"></i>
        </button>
    </span>
</div>
