<div class="modal-header">
    <h3 class="modal-title" translate>Save {{ctrl.page.name}} as...</h3>
</div>
<form class="form" name="newPage">
    <div class="modal-body" id="modal-save-page-as">
        <div class="form-group">
            <input
                name="name"
                ng-model="ctrl.newName"
                artifact-name-validation="bottom-left"
                class="form-control"
                id="page-name"
                placeholder="{{ 'Page Name' | translate }}"
                required>
        </div>
    </div>
    <div class="modal-footer" id="modal-delete-page-controls">
        <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="!newPage.name.$dirty || newPage.$invalid || ctrl.newName == ctrl.page.name" translate>Save</button>
        <button class="btn btn-link" ng-click="$dismiss('cancel')" translate>Cancel</button>
    </div>
</form>
