<div class="modal-header">
    <h3 class="modal-title" translate>Save {{page.name}} as...</h3>
</div>
<form class="form" name="newPage" ng-submit="createPage(page)">
    <div class="modal-body" id="modal-save-page-as">
        <div class="form-group">
            <input
                name="name"
                ng-model="newName"
                ng-pattern="'[a-zA-Z0-9]*$'"
                class="form-control"
                id="page-name"
                placeholder="{{ 'Page Name' | translate }}"
                required>
        </div>
        <span ng-if="newPage.name.$error.pattern" class="text-danger" translate>Page names must start with a letter and contain only alphanumeric characters</span>
    </div>
    <div class="modal-footer" id="modal-delete-page-controls">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="!newPage.name.$dirty || newPage.$invalid || newName == page.name" translate>Save</button>
        <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
    </div>
</form>
