@bottom-tab-height: 2.2em;

.BottomPanel {
  height: @sidebar-data-default-height;
  z-index: @z-index-sidebar;
  transition: height .5s ease, min-height .5s ease;
  min-height: 220px;
  max-height: 500px;
}

.BottomPanel-splitter {
  cursor: row-resize;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @bottom-sidebar-splitter-height;
  background-color: @color-data-bg;
}

.BottomPanel-content {
  background-color: @color-data-bg;
  height: 100%;
  padding: .7em;
  display: flex;
  flex-direction: column;
}

.BottomPanel-toggleBar {
  position: absolute;
  transform: translateY(-100%);
  text-align: left;
  padding-left: 1em;
  z-index: 43;
}

.BottomPanel-toggle {
  font-size: 1em;
  text-transform: uppercase;
  padding: 4px 10px;
  text-align: left;
  display: inline-block;
  height: @bottom-tab-height;
  background-color: lighten(@color-data-bg, 5%);
}

.BottomPanel-toggle--active {
  background-color: @color-data-bg;
}

.Toolbar {
  padding-bottom: .7em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.Toolbar-action {
  flex: 1;
}

.Table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;

  thead {
    background-color: #404853;
    color: #fff;

    .Table-sort {

      &::after {
        .fa;
        content: @fa-var-sort;
        padding: .2em;
      }

      a {
        color: inherit;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  tbody {
    overflow-y: auto;

    tr {
      background: #e5eaf0;

      &:nth-child(odd) {
        background: #eff2f6;
      }
    }
  }

  th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 2em;
    padding: .3em;
  }
}

.BottomPanel-scrollableView {
  flex: 1;
  overflow: auto;
}

.BottomPanel.splitter-pane-closed {
  // We need to override height directly
  // added to the element via angular-resizable
  height: 0 !important;
  min-height: 0;
}

.rg-top {
  margin-top: -7px;

  span {
    display: none;
  }
}