.preview-container {
  height: 100%;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  >.container-fluid {
    height: 100%;
    padding-top: 70px;
  }

  iframe {
    box-sizing: content-box;
    border: 2px solid #cccccc;
    border-radius: 5px;
  }
}
