.preview-container {
  height: 100%;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  >.container-fluid {
    height: 100%;
    padding-top: 70px;
  }
}

iframe {
  border: 2px solid #cccccc;
  border-radius: 5px;
}


.preview-iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}
