name: Crowdin upload files

# Triggers the workflow every night
on:
  schedule:
    - cron: '0 3 * * *'

  workflow_dispatch:
    inputs:

jobs:
  devUpload:
    name: Crowdin upload on dev
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          # Mandatory to use a old node version with our actual dependencies
          node-version: '8'
      - name: Install gettext
        run: sudo apt-get install gettext
      - name: Run Crowdin upload
        shell: bash
        run: ./infrastructure/crowdin/upload.sh --crowdin-api-key=${{ secrets.CROWDIN_API_KEY }} --branch=dev --crowdin-project=bonita

