name: Deploy Nightly

on:
  schedule:
    - cron: '0 4 * * *'

  workflow_dispatch:
    inputs:
      dockerUrl:
        description: Docker url, where the UID will be deployed
        default: "tcp://docker.rd.lan:2375"
        required: true
      dockerName:
        description: Docker prefix name
        default: "nightly-uid"
        required: true
      port:
        description: Port where UID is running each night (50000 for dev, 50001 for master)
        default: "50000"
        required: true
jobs:
  deployNightly:
    name: Deploy Nightly docker image
    runs-on: ubuntu-22.04
    steps:
      - name: Extract parameter
        id: init
        run: |
          if [ ${{ github.event_name }} == 'workflow_dispatch' ]
          then
              echo ::set-output name=baseBranch::${GITHUB_REF#refs/*/}
              echo ::set-output name=dockerUrl::${github.event.inputs.dockerUrl}
              echo ::set-output name=dockerUrl::${github.event.inputs.dockerName}
              echo ::set-output name=port::${github.event.inputs.port}
          else
              echo "##[set-output name=baseBranch;]$(echo dev)"
              echo "##[set-output name=dockerUrl;]$(echo tcp://docker.rd.lan:2375)"
              echo "##[set-output name=dockerName;]$(echo nightly-uid)"
              echo "##[set-output name=port;]$(echo 50000)"
          fi
      - name: Setup checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.init.outputs.baseBranch }}
      - name: Set up Java 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build binaries
        if: ${{ success()}}
        run: ./mvnw -B package -DskipTests
      - name: Define env variable
        if: ${{ success()}}
        shell: bash
        run: |
          echo "DOCKER_IMAGE_NAME=$(echo ${{ steps.init.outputs.dockerName }}-${{ steps.init.outputs.baseBranch }})" | tr "/" - >> $GITHUB_ENV
      - name: Deploy to docker
        if: ${{ success()}}
        shell: bash
        run: |
          export DOCKER_HOST=${{ steps.init.outputs.dockerUrl }}
          (docker kill "${{ env.DOCKER_IMAGE_NAME }}" ) || true
          (docker rm -vf ${{ env.DOCKER_IMAGE_NAME }}) || true
          docker build -t bonita/${{ env.DOCKER_IMAGE_NAME }} .
          docker run -p ${{ steps.init.outputs.port }}:8080 --name="${{ env.DOCKER_IMAGE_NAME }}" -d bonita/"${{ env.DOCKER_IMAGE_NAME }}"
          echo Container is running on http://${{ steps.init.outputs.dockerUrl }}:${{ steps.init.outputs.port }}/bonita
