name: Generate Dependencies report

on:
  workflow_dispatch:
    inputs:
      tagVersion:
        description: keep empty to run report on input ref branch
        default:
        required: false
      bonitaMinorVersion:
        description: Enter Bonita minor version
        default: 2021.1
        required: true

jobs:
  listDependencies:
    name: List dependencies
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tagVersion || github.ref }}
          
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Generate reports
        run: ./mvnw package -DskipTests -Pdependencies -DbonitaMinorVersion=${{ github.event.inputs.bonitaMinorVersion }}
      - name: Pushes dependencies file to bonita-doc
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          github_server: 'github.com'
          source_file: 'backend/webapp/target/bonita-ui-designer-dependencies.adoc'
          destination_repo: 'bonitasoft/bonita-doc'
          destination_branch: ${{ github.event.inputs.bonitaMinorVersion }}
          destination_branch_create: 'doc/add-bonita-ui-designer-repositories-dependencies-${{ github.event.inputs.bonitaMinorVersion }}'
          destination_folder: 'modules/ROOT/pages'
          user_name: 'bonita-ci'
          user_email: 'bonita-ci@bonitasoft.com'
          commit_message: 'chore(dependencies): Adding Bonita UI-Designer dependencies ${{ github.event.inputs.bonitaMinorVersion }}'
      - name: Create new PR on bonita-doc
        shell: bash
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
          # make file runnable, might not be necessary
          url="https://api.github.com/repos/bonitasoft/bonita-doc/pulls"
          data=$( jq --indent 3 -n \
          --arg title "docs(uid): Add UID dependencies for ${{ github.event.inputs.bonitaMinorVersion }}" \
          --arg base "${{ github.event.inputs.bonitaMinorVersion }}" \
          --arg head "doc/add-bonita-ui-designer-repositories-dependencies-${{ github.event.inputs.bonitaMinorVersion }}" \
          '{ head: $head, base: $base, title: $title, draft: true }' )
          header_content='Content-type:application/vnd.github.v3+json'
          header_accept='Accept:application/vnd.github.shadow-cat-preview+json'

          curl --silent --request POST --user "bonita-ci:${API_TOKEN_GITHUB}" --url ${url} --header ${header_content} --header ${header_accept} --data "${data}" | jq ".number"
