name: Merge branches
on:
  workflow_dispatch:
    inputs:
      from:
        description: Merge branch
        default: 'master'
        required: true
      target:
        description: into
        default: 'dev'
        required: true
jobs:
  merge-branches:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Merge ${{ github.event.inputs.from }} ->  ${{ github.event.inputs.target }}
        uses: devmasx/merge-branch@1.4.0
        with:
          type: now
          from_branch: ${{ github.event.inputs.from }}
          target_branch: ${{ github.event.inputs.target }}
          github_token: ${{ secrets.GH_PERSONNAL_ACCES_TOKEN }}

      - name: Send message to Slack channel
        if: ${{ failure() }}
        uses: bonitasoft/actions/packages/notify-slack@v2.2.0
        with:
          CHANNEL_ID: ${{ secrets.SLACK_UID_CHANNEL_ID }}
          MESSAGE: ":x: Merge ${{ github.event.inputs.from }} into ${{ github.event.inputs.target }} failed."
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
