@font-face {
    font-family: '<%= fontName %>';
    src:    url('<%= fontPath %><%= fontName %>.eot'); /* IE9 Compatibility Modes */
    src:    url('<%= fontPath %><%= fontName %>.woff') format('woff'), /* Modern Browsers */
            url('<%= fontPath %><%= fontName %>.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

.ui-icon {
    font-family: '<%= fontName %>';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) { %>
.ui-<%= glyph.fileName %>:before {
    content: "\<%= glyph.codePoint %>";
}
<% }); %>
